<section class="content-channel-settings">
<fieldset>
<legend>{{t "routes.channel.settings.stream.header"}}</legend>
{{#settings-row
	(t "routes.channel.settings.stream.quality.title")
	(t "routes.channel.settings.stream.quality.description")
	icon="fa-eye"
	toggle=true
	enabled=_streaming_quality
}}
	{{#drop-down
		value=streaming_quality
		content=qualities
		disabled=(bool-not _streaming_quality)
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "qualities." selection.value)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "qualities." item.value)}}
		{{/dropdown.list}}
	{{/drop-down}}
{{/settings-row}}

{{#settings-row
	(t "routes.channel.settings.stream.chat.title")
	(t "routes.channel.settings.stream.chat.description")
	icon="fa-comments"
	toggle=true
	enabled=_streams_chat_open
}}
	{{check-box
		(t "routes.channel.settings.stream.chat.checkbox")
		checked=streams_chat_open
		disabled=(bool-not _streams_chat_open)
	}}
{{/settings-row}}
</fieldset>

{{#if settings.notification.enabled}}
<fieldset>
<legend>{{t "routes.channel.settings.notifications.header"}}</legend>
{{#settings-row
	(t "routes.channel.settings.notifications.enabled.title")
	(t "routes.channel.settings.notifications.enabled.description")
	icon="fa-bullhorn"
	notes=(t "routes.channel.settings.notifications.enabled.notes")
	toggle=true
	enabled=_notification_enabled
}}
	{{check-box
		(t "routes.channel.settings.notifications.enabled.checkbox")
		checked=notification_enabled
		disabled=(bool-not _notification_enabled)
	}}
{{/settings-row}}
</fieldset>
{{/if}}

{{settings-submit
	apply=(action "apply")
	discard=(action "discard")
	isDirty=model.buffer.isDirty
}}
</section>