<section class="content content-index">
<div class="big-image {{if stream 'online'}}">
<div class="preview" {{action "startStream" stream}}>
{{preview-image src=previewImage}}
</div>
</div>
<div class="info">
<h3>Channel statistics</h3>
<dl class="dl-horizontal">
<dt><i class="fa fa-calendar"></i>Created</dt>
<dd>{{format-time channel.created_at "MMMM Do YYYY"}}</dd>
{{#if channel.has_broadcaster_language}}
<dt><i class="fa fa-language"></i>Language</dt>
<dd>{{flag-icon type="broadcaster" lang=channel.broadcaster_language}} {{language}}</dd>
{{/if}}
<dt><i class="fa fa-heart"></i>Followers</dt>
<dd title="{{channel.title_followers}}">{{format-viewers channel.followers}} ({{format-viewers (math-div channel.followers age)}} per day)</dd>
<dt><i class="fa fa-line-chart"></i>Views</dt>
<dd title="{{channel.title_views}}">{{format-viewers channel.views}} ({{format-viewers (math-div channel.views age)}} per day)</dd>
<dt><i class="fa fa-history"></i>Delay</dt>
<dd>{{#if (is-gt channel.delay 0)}}{{channel.delay}} seconds{{else}}No additional delay{{/if}}</dd>
<dt><i class="fa fa-male"></i>Content</dt>
<dd>{{#if channel.mature}}Inappropriate for children{{else}}No age restrictions{{/if}}</dd>
{{#if channel.staff}}
<dt><i class="fa fa-legal"></i>Staff</dt>
<dd>Twitch.tv staff member</dd>
{{/if}}
{{#if stream.hasFormatInfo}}
<dt><i class="fa fa-film"></i>Format</dt>
<dd>{{stream.resolution}} @ {{stream.fps}}fps</dd>
{{/if}}
</dl>
<div class="interactions">
{{open-chat channel=channel}}
{{twitch-emotes channel=channel showButton=true}}
{{share-channel channel=channel}}
{{subscribe-channel channel=channel}}
{{follow-channel channel=channel}}
</div>
</div>
</section>
{{#if panels.length}}
<section class="content-panels">
<h3>Channel details</h3>
<ul class="content-list">
{{#each panels as |panel|}}
{{panel-item panel=panel}}
{{/each}}
</ul>
</section>
{{/if}}