<section class="content-channel-overview">
<div class="big-image {{if stream 'online'}}">
{{stream-preview-image
	stream=stream
	channel=channel
	clickable=stream
	src=(if stream stream.preview.large channel.video_banner)
	contextmenuNoGotos=true
}}
</div>
<div class="info">
<h3>Channel statistics</h3>
<dl class="dl-horizontal">
{{#if channel.hasCustomDisplayName}}
<dt><i class="fa fa-user"></i>Name</dt>
<dd>{{channel.name}}</dd>
{{/if}}
<dt><i class="fa fa-calendar"></i>Created</dt>
<dd>{{format-time channel.created_at "MMMM Do YYYY"}}</dd>
{{#if channel.hasBroadcasterLanguage}}
<dt><i class="fa fa-language"></i>Language</dt>
<dd>{{flag-icon type="broadcaster" lang=channel.broadcaster_language}} {{language}}</dd>
{{/if}}
<dt><i class="fa fa-heart"></i>Followers</dt>
<dd title="{{channel.titleFollowers}}">{{format-viewers channel.followers}} ({{format-viewers (math-div channel.followers age)}} per day)</dd>
<dt><i class="fa fa-line-chart"></i>Views</dt>
<dd title="{{channel.titleViews}}">{{format-viewers channel.views}} ({{format-viewers (math-div channel.views age)}} per day)</dd>
<dt><i class="fa fa-male"></i>Content</dt>
<dd>{{#if channel.mature}}Inappropriate for children{{else}}No age restrictions{{/if}}</dd>
{{#if stream.hasFormatInfo}}
<dt><i class="fa fa-film"></i>Format</dt>
<dd>{{stream.resolution}} @ {{stream.fps}}fps</dd>
{{/if}}
{{#if stream}}
<dt><i class="fa fa-history"></i>Delay</dt>
<dd>{{#if (is-gt stream.delay 0)}}{{stream.delay}} seconds{{else}}No additional delay{{/if}}</dd>
{{/if}}
{{#if stream.isVodcast}}
<dt><i class="fa fa-recycle"></i>Vodcast</dt>
<dd>Stream is a Vodcast</dd>
{{/if}}
</dl>
<div class="button-list-horizontal">
{{open-chat channel=channel}}
{{twitch-emotes channel=channel showButton=true}}
{{share-channel channel=channel}}
{{subscribe-channel channel=channel}}
{{follow-channel channel=channel}}
</div>
</div>
</section>
{{#if panels.length}}
<section class="content-channel-details">
{{channel-panels panels=panels}}
</section>
{{/if}}