<header>
<div class="logo">
<img class="previewImage" title="{{channel.display_name}}" src="{{channel.logo}}">
</div>
<div>
<div class="title">
<h3>
{{#if channel.has_language}}{{flag-icon type="channel" lang=channel.language}}{{/if}}
<span>{{channel.display_name}}</span>
</h3>
<div class="settingsicon {{if isSubrouteSettings 'opened'}}">
{{form-button action="toggleSettings" targetObject=view icon="fa-wrench"}}
</div>
</div>
{{#if stream}}
<div class="online">
<span title="{{stream.title_created_at}}"><i class="fa fa-clock-o"></i> {{hours-from-now stream.created_at}}</span>
<span title="{{stream.title_viewers}}"><i class="fa fa-users"></i> {{format-viewers stream.viewers}}</span>
<span><i class="fa fa-gamepad"></i> {{#link-to "games.game" stream.game}}{{stream.game}}{{/link-to}}</span>
</div>
{{else}}
<div class="offline"><i class="fa fa-bed"></i> is offline right now</div>
{{/if}}
{{embedded-links tagName="div" class="status" text=channel.status}}
</div>
</header>
{{outlet}}