<main class="content content-gamesgame">
	<header>
		<h2>{{game.name}}</h2>
		{{#quick-bar}}
			{{quick-bar-random-stream query=(hash game_id=game.id)}}
			{{quick-bar-homepage}}
		{{/quick-bar}}
	</header>
	{{#content-list model as |item isNewItem isDuplicateItem|}}
		{{stream-item
			content=item
			isNewItem=isNewItem
			isDuplicateItem=isDuplicateItem
			showGame=false
		}}
	{{else}}
		<p>{{t "routes.game.empty"}}</p>
	{{/content-list}}
</main>