{{#if isVisible}}
<button
  type="button"
  class="btn {{if icon (if hasBlock 'btn-with-icon' 'btn-icon')}} {{if _status 'btn-with-anim'}} {{class}}"
  title="{{title}}"
  disabled={{disabled}}
  {{action "click"}}
>
{{#if icon}}
	{{#if isLoading}}
		{{loading-spinner}}
	{{else}}
		<i class="fa {{icon}} {{if isSuccess 'anim-success' (if isFailure 'anim-failure')}}"></i>
	{{/if}}
{{/if}}
{{#if hasBlock}}{{yield}}{{/if}}
</button>
{{/if}}