<main class="content content-user content-user-subscriptions">
<header>
<h2>{{t "routes.user.subscriptions.header"}}</h2>
{{#quick-bar}}
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#content-list model as |item isNewItem isDuplicateItem|}}
{{subscription-item content=item isNewItem=isNewItem isDuplicateItem=isDuplicateItem}}
{{else}}
<p>{{t "routes.user.subscriptions.empty.first"}}</p>
<p>{{t "routes.user.subscriptions.empty.second"}}</p>
{{/content-list}}
</main>