<fieldset>
{{#settings-row
	"Custom channel names"
	"Channel name localizations."
	icon="fa-language"
}}
	{{drop-down
		value=model.streams.name
		content=contentStreamsName
	}}
{{/settings-row}}

{{#settings-row
	"Flags"
	"Indicating the broadcaster language."
	icon="fa-flag"
}}
	{{check-box "Flags are always visible" checked=model.streams.show_flag}}
{{/settings-row}}

{{#settings-row
	"Fade out Vodcasts"
	"Makes vodcasts less visible, as an additional indicator."
	icon="fa-recycle"
}}
	{{check-box "Fade out Vodcasts" checked=model.streams.filter_vodcast}}
{{/settings-row}}

{{#settings-row
	"Info bar"
	"Bottom bar inside the stream preview."
	icon="fa-info"
}}
	{{check-box "Info bar is always visible" checked=model.streams.show_info}}
{{/settings-row}}

{{#settings-row
	"Info bar content"
	"What should be displayed?"
	icon="fa-info"
}}
	{{#radio-buttons
		value=model.streams.info
		content=contentStreamsInfo
		as |item|
	}}
		<div>{{item.button}}</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	"Click behavior"
	"Additional stream image click actions."
	icon="fa-hand-pointer-o"
}}
	<p>{{unless isDarwin "CTRL" "CMD"}} + Primary mouse button</p>
	{{drop-down
		value=model.streams.click_modify
		content=contentStreamsClick
		class="stream-click"
	}}
	<p>Middle mouse button</p>
	{{drop-down
		value=model.streams.click_middle
		content=contentStreamsClick
		class="stream-click"
	}}
{{/settings-row}}
</fieldset>