<fieldset>
{{#settings-row
	"Filter streams"
	"Apply a language filter to all stream lists (except followed streams)."
	icon="fa-filter"
	notes=(unless model.streams.filter_languages
		"List all streams, fade out the ones not matching."
		"Only list streams matching the language selection."
	)
}}
	{{#radio-buttons
		value=model.streams.filter_languages
		content=contentStreamsFilterLanguages
		as |item|
	}}
		<div>{{item.button}}</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	"Languages"
	"Broadcaster language, or if not set, the channel language."
	icon="fa-language"
	notes="Select all languages to disable filtering."
}}
	<ul class="list-unstyled filter-lang">
		{{#each languages as |language|}}
			<li>
				{{#check-box checked=(mut (get model.streams.languages language.id))}}
					{{flag-icon lang=language.id withTitle=false withCursor=false}} {{language.lang}}<span class="lang-code">({{language.id}})</span>
				{{/check-box}}
			</li>
		{{/each}}
	</ul>
	<div><a href="#" {{action "checkLanguages" true}}>Check all</a> / <a href="#" {{action "checkLanguages" false}}>Uncheck all</a></div>
{{/settings-row}}
</fieldset>