<fieldset>
{{#settings-row
	"Custom channel names"
	"Channel name localizations."
	icon="fa-language"
}}
	{{drop-down value=model.streams.name content=SettingsStreams.name_list}}
{{/settings-row}}

{{#settings-row
	"Flags"
	"Indicating the broadcaster language."
	icon="fa-flag"
}}
	{{check-box "Flags are always visible" checked=model.streams.show_flag}}
{{/settings-row}}

{{#settings-row
	"Fade out Vodcasts"
	"Makes vodcasts less visible, as an additional indicator."
	icon="fa-recycle"
}}
	{{check-box "Fade out Vodcasts" checked=model.streams.filter_vodcast}}
{{/settings-row}}

{{#if model.advanced}}
	{{#settings-row
		"Custom Vodcast filtering"
		"Find untagged Vodcasts/Rebroadcasts."
		icon="fa-search"
		notes="A JavaScript compliant regular expression (case-insensitive), applied to the stream title. To disable filtering, enter an empty string or an invalid regular expression."
	}}
		{{input
			type="text"
			value=model.streams.vodcast_regexp
			placeholder=DEFAULT_VODCAST_REGEXP
			class="col-xs-12"
		}}
	{{/settings-row}}
{{/if}}


{{#settings-row
	"Info bar"
	"Bottom bar inside the stream preview."
	icon="fa-info"
}}
	{{check-box "Info bar is always visible" checked=model.streams.show_info}}
{{/settings-row}}

{{#settings-row
	"Info bar content"
	"What should be displayed?"
	icon="fa-info"
}}
	{{#radio-btns
		name="settings-streams-info"
		value=model.streams.info
		content=SettingsStreams.info
		optionValuePath="id"
		as |radiobtn label|
	}}
		<div>{{component radiobtn label}}</div>
	{{/radio-btns}}
{{/settings-row}}

{{#settings-row
	"Click behavior"
	"Additional stream image click actions."
	icon="fa-hand-pointer-o"
}}
	<p>{{unless isDarwin "CTRL" "CMD"}} + Primary mouse button</p>
	{{drop-down class="stream-click" value=model.streams.click_modify content=SettingsStreams.click}}
	<p>Middle mouse button</p>
	{{drop-down class="stream-click" value=model.streams.click_middle content=SettingsStreams.click}}
{{/settings-row}}
</fieldset>