<fieldset>
{{#settings-row
	"Chat application"
	"Choose the chat application."
	icon="fa-twitch"
	notes=(if (is-equal model.chat.provider "browser")
		"Choosing the default browser may result in unwanted, non-minimal window sizes."
	)
}}
	{{drop-down
		value=model.chat.provider
		content=contentChatProvider
	}}
{{/settings-row}}

{{#each-in providerAttributes as |name attributes|}}
	{{#each attributes as |attribute|}}
		{{#settings-row
			attribute.options.title
			attribute.options.description
			icon=attribute.options.icon
			substitutions=(if attribute.options.isArgs userArgsSubstitutions)
			isVisible=(is-equal model.chat.provider name)
		}}
			{{#if (is-equal attribute.type "string")}}
				{{#if attribute.options.isFile}}
					{{file-select
						value=(mut (get (get model.chat.providers name) attribute.name))
						inputClass="form-control"
						placeholder=(if (is-equal name "custom")
							"Setting an executable path is required"
							(get (get chatConfig name) attribute.name)
						)
					}}
				{{else}}
					{{input
						type="text"
						classNames="col-xs-12"
						value=(mut (get (get model.chat.providers name) attribute.name))
						placeholder=(if attribute.options.isArgs "Set additional parameters")
					}}
				{{/if}}
			{{else if (is-equal attribute.type "boolean")}}
				{{check-box
					attribute.options.text
					checked=(mut (get (get model.chat.providers name) attribute.name))
				}}
			{{/if}}
		{{/settings-row}}
	{{/each}}
{{/each-in}}
</fieldset>

<fieldset>
{{#settings-row
	"Open chat"
	"While launching streams."
	icon="fa-comment"
}}
	<div>
		{{check-box
			"Automatically open chat"
			checked=model.streams.chat_open
		}}
	</div>
	<div>
		{{check-box
			"Don't open chat while launching streams via the context menu"
			checked=model.streams.chat_open_context
			disabled=(bool-not model.streams.chat_open)
		}}
	</div>
{{/settings-row}}

{{#settings-row
	"Twitch emotes"
	"Button that opens up twitchemotes.com."
	icon="fa-smile-o"
}}
	{{check-box "Show emotes button in stream popups" checked=model.streams.twitchemotes}}
{{/settings-row}}
</fieldset>