<fieldset>
{{#settings-row
	"Preferred quality"
	"Choose the default stream quality."
	icon="fa-eye"
}}
	{{drop-down value=model.quality content=qualities}}
{{/settings-row}}

{{#if model.advanced}}
	{{#if isStreamlink}}
		{{#settings-row
			"Quality presets"
			"Define precise quality selections by range or by using explicit quality names."
			icon="fa-list-ul"
			notes="The second column is showing the actual quality selection. Qualities or quality ranges of the first column will be excluded from the \"best\" or \"worst\" selector aliases. Please see the wiki and Streamlink's documentation first before making any changes."
			documentation="--stream-sorting-excludes"
		}}
			{{#each qualitiesStreamlink as |quality|}}
				<div class="quality-preset">
					{{input
						type="text"
						value=(mut (get (get model.qualities quality.id) "exclude"))
						placeholder=(if (is-null quality.exclude) "Don't exclude stream qualities" quality.exclude)
						disabled=(is-null quality.exclude)
					}}
					{{input
						type="text"
						value=(mut (get (get model.qualities quality.id) "quality"))
						placeholder=quality.quality
					}}
					<button type="button" tabindex="-1" class="btn">{{quality.label}}</button>
				</div>
			{{/each}}
		{{/settings-row}}
	{{else}}
		{{#settings-row
			"Quality presets"
			"Customize Livestreamer quality presets."
			icon="fa-list-ul"
		}}
			{{#each qualitiesLivestreamer as |quality|}}
				<div class="quality-preset">
					{{input
						type="text"
						placeholder=quality.quality
						value=(mut (get model.quality_presets quality.id))
					}}
					<button type="button" tabindex="-1" class="btn">{{quality.label}}</button>
				</div>
			{{/each}}
		{{/settings-row}}
	{{/if}}
{{/if}}

{{#settings-row
	"Hide stream popup"
	"When a stream has started."
	icon="fa-info-circle"
}}
	{{check-box "Hide the popup after successfully launching a stream" checked=model.gui_hidestreampopup}}
{{/settings-row}}

{{#settings-row
	"Close stream popup"
	"When a stream has ended."
	icon="fa-info-circle"
}}
	{{check-box "Close the popup of an active stream when it ends" checked=model.gui_closestreampopup}}
{{/settings-row}}
</fieldset>