<fieldset>
{{#settings-row
	"Notifications"
	"When favorites start streaming."
	icon="fa-bullhorn"
}}
	{{check-box "Enable desktop notifications" checked=model.notification.enabled}}
{{/settings-row}}

{{#settings-row
	"Notification type"
	"Choose the kind of notification"
	icon="fa-cog"
}}
	{{#form-button
		action=(action "testNotification")
		classNames="btn-test-notification"
		icon="fa-rocket"
		iconanim=true
		disabled=(bool-not model.notification.enabled)
	~}}
		Test notification
	{{~/form-button}}
	{{#radio-buttons
		value=model.notification.provider
		content=contentNotificationProviders
		as |item|
	}}
		<div class="input-btn-with-description">
			{{item.button
				item.label.name
				disabled=(bool-not model.notification.enabled)
			}}
			<p class="description">{{#if item.label.notes}}<i class="fa fa-question-circle" title={{item.label.notes}}></i> {{/if}}{{item.label.description}}</p>
		</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	"Channel filter"
	"Notifications can be turned on/off individually in a channel's settings menu."
	icon="fa-eyedropper"
}}
	{{#radio-buttons
		value=model.notification.filter
		content=contentNotificationFilter
		as |item|
	}}
		<div>
			{{item.button
				disabled=(bool-not model.notification.enabled)
			}}
		</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	"Filter Vodcasts"
	"Only include live streams."
	icon="fa-recycle"
}}
	{{check-box "Ignore Vodcasts" checked=model.notification.filter_vodcasts}}
{{/settings-row}}

{{#settings-row
	"Grouping"
	"Merge multiple notifications."
	icon="fa-folder-open-o"
}}
	{{check-box
		"Only show one notification at a time"
		checked=model.notification.grouping
		disabled=(bool-not model.notification.enabled)
	}}
{{/settings-row}}

{{#settings-row
	"Notification click"
	"Preferred click action."
	icon="fa-hand-pointer-o"
}}
	{{drop-down
		value=model.notification.click
		content=contentNotificationClick
		disabled=(bool-not model.notification.enabled)
		class="notifications"
	}}
{{/settings-row}}

{{#settings-row
	"Group click"
	"Preferred group click action."
	icon="fa-hand-pointer-o"
}}
	{{drop-down
		value=model.notification.click_group
		content=contentNotificationClickGroup
		disabled=(bool-or
			(bool-not model.notification.enabled)
			(bool-not model.notification.grouping)
		)
		class="notifications"
	}}
{{/settings-row}}

{{#settings-row
	"Restore GUI"
	"Restore from tray or minimized state when performing a notification click action."
	icon="fa-window-restore"
}}
	{{check-box
		"Restore when clicking a notification"
		checked=model.notification.click_restore
		disabled=(bool-not model.notification.enabled)
	}}
{{/settings-row}}
</fieldset>