<fieldset>
{{#settings-row
	"Filter streams"
	"Apply a language filter to all stream menus."
	notes="Does not affect the 'Live Streams' menu of the 'My' section."
	icon="fa-filter"
}}
	{{#radio-buttons
		value=model.streams.filter_languages
		content=contentStreamsFilterLanguages
		as |item|
	}}
		<div class="input-btn-with-description">
			{{item.button item.label.text}}
			<div class="description">{{item.label.description}}</div>
		</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	"Languages"
	"Broadcaster language, or if not set, the channel language."
	icon="fa-language"
	notes="Select all languages to disable filtering."
}}
	<ul class="list-unstyled filter-lang">
		{{#each languages as |language|}}
			<li>
				{{#check-box checked=(mut (get model.streams.languages language.id))}}
					{{flag-icon lang=language.id withTitle=false withCursor=false}} {{language.lang}}<span class="lang-code">({{language.id}})</span>
				{{/check-box}}
			</li>
		{{/each}}
	</ul>
	<div><a href="#" {{action "checkLanguages" true}}>Check all</a> / <a href="#" {{action "checkLanguages" false}}>Uncheck all</a></div>
{{/settings-row}}
</fieldset>