<fieldset>
{{#settings-row
	"Flags"
	"Indicating the broadcaster language."
	icon="fa-flag"
}}
	{{check-box "Flags are always visible" checked=model.stream_show_flag}}
{{/settings-row}}

{{#settings-row
	"Info bar"
	"Bottom bar inside the stream preview."
	icon="fa-info"
}}
	{{check-box "Info bar is always visible" checked=model.stream_show_info}}
	<p>What should be displayed?</p>
	{{drop-down class="stream-click" value=model.stream_info content=Settings.stream_info}}
{{/settings-row}}

{{#settings-row
	"Click behavior"
	"Additional stream image click actions."
	icon="fa-hand-pointer-o"
}}
	<p>{{unless platform.isDarwin "CTRL" "CMD"}} + Primary mouse button</p>
	{{drop-down class="stream-click" value=model.stream_click_modify content=Settings.stream_click}}
	<p>Middle mouse button</p>
	{{drop-down class="stream-click" value=model.stream_click_middle content=Settings.stream_click}}
{{/settings-row}}
</fieldset>