<fieldset>
{{#settings-row
	"Chat method"
	"Choose your preferred chat method."
	icon="fa-twitch"
	notes=(if isChatMethodDefault "Choosing the default browser may result in unwanted, non-minimal window sizes.")
}}
	{{drop-down value=model.chat_method content=chatMethods class="chat-method"}}
{{/settings-row}}

{{#if isChatMethodChatty}}
	{{#settings-row
		"Chatty"
		"Set the path to the Chatty .jar file."
		icon="fa-cog"
		defaultValue=(if isChatMethodChatty "\"chatty\" start script (read from $PATH)")
		requires=(if isChatMethodChatty "Chatty >= 0.8.2b2")
	}}
		{{file-select
			value=model.chat_command
			inputClass="form-control"
			placeholder="Chatty .jar file path"
		}}
	{{/settings-row}}
{{else if isChatMethodCustom}}
	{{#settings-row
		"Chat application"
		"Set a custom chat application command."
		icon="fa-cog"
		substitutions=substitutionsChatCustom
		example="/path/to/app --token \"{token}\" --channel \"{channel}\""
	}}
		{{file-select
			value=model.chat_command
			inputClass="form-control"
			placeholder="Custom chat application command"
		}}
	{{/settings-row}}
{{else unless (bool-or isChatMethodDefault isChatMethodMSIE)}}
	{{#settings-row
		"Executable location"
		"Choose a custom executable of your selected browser. If left blank, default installation paths are assumed."
		icon="fa-cog"
	}}
		{{file-select
			value=model.chat_command
			inputClass="form-control"
			placeholder="Custom browser executable"
		}}
	{{/settings-row}}
{{/if}}

{{#settings-row
	"Open chat"
	"While launching streams."
	icon="fa-comment"
}}
	<div>{{check-box "Automatically open chat" checked=model.streams.chat_open}}</div>
	<div>{{check-box "Don't open chat while launching streams via the context menu" checked=model.streams.chat_open_context disabled=(bool-not model.streams.chat_open)}}</div>
{{/settings-row}}

{{#settings-row
	"Twitch emotes"
	"Button that opens up twitchemotes.com."
	icon="fa-smile-o"
}}
	{{check-box "Show emotes button in stream popups" checked=model.streams.twitchemotes}}
{{/settings-row}}
</fieldset>