<fieldset>
{{#settings-row
	"Preferred quality"
	"Choose the default stream quality."
	icon="fa-eye"
}}
	{{drop-down value=model.quality content=qualities}}
{{/settings-row}}

{{#if model.advanced}}
	{{#if isStreamlink}}
		{{#settings-row
			"Quality presets"
			"Set a range of stream qualities that will be excluded. Streamlink will then pick the best quality out of the remaining ones."
			icon="fa-list-ul"
			notes="The values of the first column exclude qualities. The second column shows the actual quality selection. Please see the wiki and Streamlink's documentation first before making any changes."
			documentation="--stream-sorting-excludes"
		}}
			{{#each qualitiesStreamlink as |quality|}}
				<div class="quality-preset">
					{{input
						type="text"
						value=(mut (get model.qualities quality.id))
						placeholder=(if (is-null quality.exclude) "Don't exclude stream qualities" quality.exclude)
						disabled=(is-null quality.exclude)
					}}
					{{input
						type="text"
						placeholder=quality.quality
						disabled=true
					}}
					<button type="button" tabindex="-1" class="btn">{{quality.label}}</button>
				</div>
			{{/each}}
		{{/settings-row}}
	{{else}}
		{{#settings-row
			"Quality presets"
			"Customize Livestreamer quality presets."
			icon="fa-list-ul"
		}}
			{{#each qualitiesLivestreamer as |quality|}}
				<div class="quality-preset">
					{{input
						type="text"
						placeholder=quality.quality
						value=(mut (get model.quality_presets quality.id))
					}}
					<button type="button" tabindex="-1" class="btn">{{quality.label}}</button>
				</div>
			{{/each}}
		{{/settings-row}}
	{{/if}}
{{/if}}

{{#settings-row
	"Stream popup"
	"When a stream has started."
	icon="fa-info-circle"
}}
	{{check-box "Hide the popup on success" checked=model.gui_hidestreampopup}}
{{/settings-row}}
</fieldset>