<fieldset>
{{#settings-row
	"Notifications"
	"When favorites start streaming."
	icon="fa-bullhorn"
}}
	{{check-box "Enable desktop notifications" checked=model.notify_enabled}}
{{/settings-row}}

{{#if model.notify_enabled}}
	{{#settings-row
		"Notification type"
		"Choose the kind of notification"
		icon="fa-cog"
	}}
		{{#form-button action=(action "testNotification") classNames="btn-test-notification" icon="fa-rocket" iconanim=true}}Test notification{{/form-button}}
		{{#radio-btns
			name="notify_provider"
			value=model.notify_provider
			content=notifyProvider
			as |radiobtn label|
		}}
			<div class="notification-provider-item">
				{{component radiobtn label.name}}
				<p class="description">{{#if label.notes}}<i class="fa fa-question-circle" title={{label.notes}}></i> {{/if}}{{label.description}}</p>
			</div>
		{{/radio-btns}}
	{{/settings-row}}

	{{#settings-row
		"Channel filter"
		"Notifications can be turned on/off individually in a channel's settings menu."
		icon="fa-eyedropper"
	}}
		{{#radio-btns
			name="notify_all"
			value=model.notify_all
			content=Settings.notify_all
			as |radiobtn label|
		}}
			<div>{{component radiobtn label}}</div>
		{{/radio-btns}}
	{{/settings-row}}

	{{#settings-row
		"Grouping"
		"Merge multiple notifications."
		icon="fa-folder-open-o"
	}}
		{{check-box "Only show one notification at a time" checked=model.notify_grouping}}
	{{/settings-row}}

	{{#settings-row
		"Notification click"
		"Preferred click action."
		icon="fa-hand-pointer-o"
	}}
		{{drop-down value=model.notify_click content=Settings.notify_click class="notifications"}}
	{{/settings-row}}

	{{#if model.notify_grouping}}
		{{#settings-row
			"Group click"
			"Preferred group click action."
			icon="fa-hand-pointer-o"
		}}
			{{drop-down value=model.notify_click_group content=Settings.notify_click_group class="notifications"}}
		{{/settings-row}}
	{{/if}}
{{/if}}
</fieldset>