<fieldset>
{{#settings-row
	(t "settings.lists.channelname.title")
	(t "settings.lists.channelname.description")
	icon="fa-language"
}}
	{{#drop-down
		value=model.streams.name
		content=contentStreamsName
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "settings.lists.channelname.values." selection.label)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "settings.lists.channelname.values." item.label)}}
		{{/dropdown.list}}
	{{/drop-down}}
{{/settings-row}}

{{#settings-row
	(t "settings.lists.show-flag.title")
	(t "settings.lists.show-flag.description")
	icon="fa-flag"
}}
	{{check-box
		(t "settings.lists.show-flag.checkbox")
		checked=model.streams.show_flag
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.lists.filter-vodcast.title")
	(t "settings.lists.filter-vodcast.description")
	icon="fa-recycle"
}}
	{{check-box
		(t "settings.lists.filter-vodcast.checkbox")
		checked=model.streams.filter_vodcast
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.lists.show-info.title")
	(t "settings.lists.show-info.description")
	icon="fa-info"
}}
	{{check-box
		(t "settings.lists.show-info.checkbox")
		checked=model.streams.show_info
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.lists.info.title")
	(t "settings.lists.info.description")
	icon="fa-info"
}}
	{{#radio-buttons
		value=model.streams.info
		content=contentStreamsInfo
		as |item|
	}}
		<div>
			{{item.button
				(t (concat "settings.lists.info.values." item.label))
			}}
		</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	(t "settings.lists.click.title")
	(t "settings.lists.click.description")
	icon="fa-hand-pointer-o"
}}
	<p>{{t (unless isDarwin "settings.lists.click.ctrl" "settings.lists.click.cmd")}}</p>
	{{#drop-down
		value=model.streams.click_modify
		content=contentStreamsClick
		class="stream-click"
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "settings.lists.click.values." selection.label)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "settings.lists.click.values." item.label)}}
		{{/dropdown.list}}
	{{/drop-down}}
	<p>{{t "settings.lists.click.middle"}}</p>
	{{#drop-down
		value=model.streams.click_middle
		content=contentStreamsClick
		class="stream-click"
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "settings.lists.click.values." selection.label)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "settings.lists.click.values." item.label)}}
		{{/dropdown.list}}
	{{/drop-down}}
{{/settings-row}}
</fieldset>