<div>
	<p><i class="fa {{icon}}"></i> {{#if toggle}}{{check-box title checked=enabled}}{{else}}{{title}}{{/if}}</p>
	<p>{{{description}}}</p>
	{{#if notes}}
		<p class="section"><i class="fa fa-exclamation-circle"></i>{{t "components.settings-row.notes"}}</p>
		<p>{{notes}}</p>
	{{/if}}
	{{#if defaultValue}}
		<p class="section"><i class="fa fa-chevron-circle-right"></i>{{t "components.settings-row.default"}}</p>
		<p>{{defaultValue}}</p>
	{{/if}}
	{{#if _substitutions.length}}
		<p class="section"><i class="fa fa-info-circle"></i>{{t "components.settings-row.variables.title"}} (<i class="fa fa-question cursor-help" title={{t "components.settings-row.variables.help"}}></i>)</p>
		<ul class="list-unstyled substitutions-list">
			{{#each _substitutions as |substitution|}}
				<li class="hoverable cursor-help" title={{t substitution.description}}>{{substitution.variable}}</li>
			{{/each}}
		</ul>
	{{/if}}
	{{#if requires}}
		<p class="section"><i class="fa fa-exclamation-circle"></i>{{t "components.settings-row.requires"}}</p>
		<p>{{requires}}</p>
	{{/if}}
	{{#if example}}
		<p class="section"><i class="fa fa-question-circle"></i>{{t "components.settings-row.example"}}</p>
		<p class="text-overflow"><span class="hoverable">{{example}}</span></p>
	{{/if}}
	{{#if documentation}}
		<p class="section">
			{{#unless (is-null documentationUrl)}}
				{{documentation-link item=documentation baseUrl=documentationUrl class=(if documentationUrl "hoverable" "")}}
			{{else}}
				{{documentation-link item=documentation class="hoverable"}}
			{{/unless}}
		</p>
	{{/if}}
</div>
<div>{{yield}}</div>