<main class="content content-user content-user-followed-channels">
<header>
<h2>Followed channels</h2>
{{#if metadata.total}}<div class="total">({{metadata.total}})</div>{{/if}}
{{#quick-bar}}
<div class="multibtn sort-method">
{{form-button
  action="sortMethod"
  actionParam="created_at"
  class=(unless (is-equal sortby "created_at") "inactive")
  icon="fa-calendar"
  title="Sort by date followed"}}
{{form-button
  action="sortMethod"
  actionParam="last_broadcast"
  class=(unless (is-equal sortby "last_broadcast") "inactive")
  icon="fa-video-camera"
  title="Sort by last broadcast"}}
{{form-button
  action="sortMethod"
  actionParam="login"
  class=(unless (is-equal sortby "login") "inactive")
  icon="fa-sign-in"
  title="Sort by last login"}}
</div>
<div class="multibtn sort-order">
{{form-button
  action="sortOrder"
  actionParam="desc"
  class=(unless (is-equal direction "desc") "inactive")
  icon="fa-long-arrow-down"
  title="Sort in descending order"}}
{{form-button
  action="sortOrder"
  actionParam="asc"
  class=(unless (is-equal direction "asc") "inactive")
  icon="fa-long-arrow-up"
  title="Sort in ascending order"}}
</div>
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#if content.length}}
<ul class="content-list">
{{#each model as |channel index|}}
{{channel-item content=channel isNewItem=(is-gte index initialFetchSize)}}
{{/each}}
</ul>
{{infinite-scroll}}
{{else}}
<div class="content-empty">
<p>The returned list of followed channels is empty.</p>
<ul class="fa-ul list-empty">
<li>{{#link-to "channels"}}<i class="fa fa-li fa-caret-right"></i>Watch top channels{{/link-to}}</li>
</ul>
</div>
{{/if}}
</main>