<div class="bigicon"><i class="fa fa-user"></i></div>
<p>Logged in as {{auth.user_name}}</p>
<p>since {{format-time auth.date "dddd, MMMM Do YYYY, h:mm:ss a"}}</p>
{{#if notif_running}}<p>Desktop notifications are enabled</p>{{/if}}
{{#if notif_error}}<p><a href="#" {{action "notifications_restart"}}>Restart desktop notifications</a></p>{{/if}}
<button type="button" class="btn btn-with-icon btn-signout" {{action "signout"}}><i class="fa fa-sign-out"></i>Sign out</button>
{{#if settings.advanced}}
<footer>
{{#if view.showTokenForm}}
<div class="input-group token-form">
<input type="text" class="form-control" data-selectable readonly value="{{auth.access_token}}" title="Your access token">
<span class="input-group-btn">
{{form-button action="copyToken" icon="fa-copy" iconanim=true title="Copy to clipboard"}}
</span>
</div>
<p class="hint">This key grants access to your Twitch.tv account with these permissions:<br><em>{{view.auth_scope}}</em><br>Log in again with your password to invalidate it.</p>
{{else}}
{{#form-button action="showTokenForm" targetObject=view class="btn-token" icon="fa-key"}}Show access token{{/form-button}}
{{/if}}
</footer>
{{/if}}