<main class="content content-user content-user-hosted-streams">
<header>
<h2>Hosted streams</h2>
{{headline-totals model.meta.total}}
{{#quick-bar}}
{{quick-bar-random-stream model="twitchStreamsHosted"}}
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#content-list model "target.id" true as |item isNewItem isDuplicateItem|}}
{{stream-item host=item content=item.target isNewItem=isNewItem isDuplicateItem=isDuplicateItem}}
{{else}}
<p>The returned list of hosted streams is empty.</p>
<ul class="fa-ul list-empty">
<li>{{#link-to "featured"}}<i class="fa fa-li fa-caret-right"></i>Watch currently featured streams{{/link-to}}</li>
<li>{{#link-to "user.followedStreams"}}<i class="fa fa-li fa-caret-right"></i>Watch your followed streams{{/link-to}}</li>
</ul>
{{/content-list}}
</main>