<main class="content content-user content-user-followed-channels">
<header>
<h2>{{t "routes.user.followedChannels.header"}}</h2>
{{headline-totals model.meta.total}}
{{#quick-bar}}
<div class="multibtn sort-method">
{{form-button
	action=(action "sortMethod" "created_at")
	class=(if (is-equal sortby "created_at") "active")
	icon="fa-calendar"
	title=(t "routes.user.followedChannels.buttons.sort-by-followed")
}}
{{form-button
	action=(action "sortMethod" "last_broadcast")
	class=(if (is-equal sortby "last_broadcast") "active")
	icon="fa-video-camera"
	title=(t "routes.user.followedChannels.buttons.sort-by-broadcast")
}}
{{form-button
	action=(action "sortMethod" "login")
	class=(if (is-equal sortby "login") "active")
	icon="fa-sign-in"
	title=(t "routes.user.followedChannels.buttons.sort-by-login")
}}
</div>
<div class="multibtn sort-order">
{{form-button
	action=(action "sortOrder" "desc")
	class=(if (is-equal direction "desc") "active")
	icon="fa-long-arrow-down"
	title=(t "routes.user.followedChannels.buttons.sort-desc")
}}
{{form-button
	action=(action "sortOrder" "asc")
	class=(if (is-equal direction "asc") "active")
	icon="fa-long-arrow-up"
	title=(t "routes.user.followedChannels.buttons.sort-asc")
}}
</div>
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#content-list model as |item isNewItem isDuplicateItem|}}
{{channel-item content=item isNewItem=isNewItem isDuplicateItem=isDuplicateItem}}
{{else}}
<p>{{t "routes.user.followedChannels.empty"}}</p>
{{/content-list}}
</main>