<main class="content content-user content-user-auth">
<div class="bigicon"><i class="fa fa-user"></i></div>
{{#if isLoggingIn}}
{{#form-button action=(action "abort") classNames="btn-danger" icon="fa-times"}}Abort{{/form-button}}
{{else}}
{{#form-button action=(action "signin") classNames="btn-signin" icon="fa-sign-in" disabled=hasUserInteraction}}Sign in{{/form-button}}
{{/if}}
<footer>
{{#if settings.advanced}}
{{#if showTokenForm}}
<div class="input-group token-form">
{{input type="text" class="form-control" value=token placeholder="Insert access token" autofocus=true}}
<span class="input-group-btn">
{{form-button
	action=(action "signinToken")
	classNames="btn"
	class=(get-param "btn-primary" "btn-info" "btn-danger" "btn-success" index=userStatus)
	icon=(get-param  "fa-sign-in"  " "        "fa-times"   "fa-check"    index=userStatus)
	iconanim=true
	spinner=true
}}
</span>
</div>
{{#unless hasLoginResult}}
<p class="hint">Log in to your Twitch.tv account by using an access token.<br>Make sure that it matches the following permissions:<br><em>{{scope}}</em></p>
{{/unless}}
{{else}}
{{#form-button action=(action "showTokenForm") classNames="btn-token" icon="fa-key" disabled=hasUserInteraction}}Use access token{{/form-button}}
{{/if}}
{{/if}}
{{#if showFailMessage}}
<p class="fail">Authentication failed. Please try again.</p>
{{/if}}
</footer>
</main>