<main class="content content-user content-user-hosted-streams">
<header>
<h2>{{t "routes.user.hostedStreams.header"}}</h2>
{{headline-totals model.meta.total}}
{{#quick-bar}}
{{quick-bar-random-stream model="twitchStreamHosted"}}
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#content-list model "target.id" true as |item isNewItem isDuplicateItem|}}
{{stream-item host=item content=item.target isNewItem=isNewItem isDuplicateItem=isDuplicateItem}}
{{else}}
<p>{{t "routes.user.hostedStreams.empty.text"}}</p>
<ul class="fa-ul list-empty">
<li>{{#link-to "user.followedStreams"}}<i class="fa fa-li fa-caret-right"></i>{{t "routes.user.hostedStreams.empty.followed"}}{{/link-to}}</li>
<li>{{#link-to "featured"}}<i class="fa fa-li fa-caret-right"></i>{{t "routes.user.hostedStreams.empty.featured"}}{{/link-to}}</li>
<li>{{#link-to "streams"}}<i class="fa fa-li fa-caret-right"></i>{{t "routes.user.hostedStreams.empty.streams"}}{{/link-to}}</li>
</ul>
{{/content-list}}
</main>