<nav>
	<h3>{{t "components.main-menu.browse.header"}}</h3>
	<ul>
		<li>{{#link-to "games"}}{{t "components.main-menu.browse.games"}}{{/link-to}}</li>
		<li>{{#link-to "streams"}}{{t "components.main-menu.browse.streams"}}{{/link-to}}</li>
	</ul>
	<h3>{{t "components.main-menu.followed.header"}}</h3>
	<ul>
		<li>{{#link-to "user.followedStreams"}}{{t "components.main-menu.followed.streams"}}{{/link-to}}</li>
		<li>{{#link-to "user.followedChannels"}}{{t "components.main-menu.followed.channels"}}{{/link-to}}</li>
	</ul>
	<h3>{{t "components.main-menu.misc.header"}}</h3>
	<ul>
		<li>{{#link-to "settings"}}{{t "components.main-menu.misc.settings"}}{{/link-to}}</li>
		<li>{{#link-to "about"}}{{t "components.main-menu.misc.about"}}{{/link-to}}</li>
	</ul>
</nav>