<main class="content content-about">
<h2>About</h2>
<article>
<h3><i class="fa fa-desktop"></i>Livestreamer Twitch GUI</h3>
<dl class="dl-horizontal">
<dt>Homepage</dt>
<dd>{{#external-link url=metadata.package.homepage}}{{metadata.package.homepage}}{{/external-link}}</dd>
<dt>Author</dt>
<dd>{{metadata.package.author}}</dd>
<dt>Contributors</dt>
<dd><ul class="list">{{#each metadata.contributors as |contributor|}}
<li title="{{contributor.commits}} commits">{{contributor.name}}</li>
{{/each}}</ul></dd>
<dt>Version</dt>
<dd>{{metadata.package.versionstring}}</dd>
<dt>Built</dt>
<dd>{{metadata.package.built}}</dd>
<dt>NW.js</dt>
<dd>{{nwjsVersion}}</dd>
</dl>
</article>
{{#if metadata.donation.length}}
<article>
<h3><i class="fa fa-heart"></i>Support &amp; donate</h3>
<p class="text-donation">If you think that this application is helpful, please consider supporting the creator by donating.<br>Thank you very much!</p>
<dl class="dl-horizontal">
{{#each metadata.donation as |item|}}
<dt><i class="fa fa-angle-right"></i></dt>
<dd>{{#external-link url=item.url}}{{item.text}}{{/external-link}}{{#if item.coinaddress}}{{#selectable-text tagName="span" class="coinaddress"}}{{item.coinaddress}}{{/selectable-text}}{{/if}}</dd>
{{/each}}
</dl>
</article>
{{/if}}
<article>
<h3><i class="fa fa-sitemap"></i>Third party applications</h3>
<dl class="dl-horizontal">
{{#each dependencies as |elem|}}
<dt>{{elem.title}}</dt>
<dd>{{elem.version}}</dd>
{{/each}}
</dl>
</article>
</main>