<main class="content content-about">
<h2>{{t "routes.about.about.header"}}</h2>
<article>
<h3><i class="fa fa-desktop"></i>{{config.display-name}}</h3>
<dl class="dl-horizontal">
<dt>{{t "routes.about.about.homepage"}}</dt>
<dd>{{#external-link url=config.urls.homepage}}{{config.urls.homepage}}{{/external-link}}</dd>
<dt>{{t "routes.about.about.author"}}</dt>
<dd>{{metadata.package.author}}</dd>
</dl>
<dl class="dl-horizontal">
<dt>{{t "routes.about.about.version"}}</dt>
<dd>{{#external-link url=releaseurl}}{{metadata.package.versionstring}}{{/external-link}}</dd>
<dt>{{t "routes.about.about.nwjs"}}</dt>
<dd>{{config.nwjs-version}}</dd>
<dt>{{t "routes.about.about.built"}}</dt>
<dd>{{metadata.package.built}}</dd>
</dl>
<dl class="dl-horizontal">
<dt>{{t "routes.about.about.help"}}</dt>
<dd>{{#external-link url=config.urls.wiki}}{{t "routes.about.about.wiki"}}{{/external-link}}</dd>
<dt>{{t "routes.about.about.bugs"}}</dt>
<dd>{{#external-link url=config.urls.bugs}}{{t "routes.about.about.issue-tracker"}}{{/external-link}}</dd>
<dt>{{t "routes.about.about.support"}}</dt>
<dd>{{#external-link url=config.urls.chat}}{{t "routes.about.about.gitter"}}{{/external-link}}</dd>
<dt>{{t "routes.about.about.changelog"}}</dt>
<dd>{{#external-link url=config.urls.changelog}}{{t "routes.about.about.changelog"}}{{/external-link}}</dd>
<dt>{{t "routes.about.about.contributors"}}</dt>
<dd>{{#external-link url=config.urls.contributors}}{{t "routes.about.about.contributors"}}{{/external-link}}</dd>
</dl>
</article>
{{#if metadata.donation.length}}
<article>
<h3><i class="fa fa-heart"></i>{{t "routes.about.donation.header"}}</h3>
<p class="text-donation">{{t "routes.about.donation.text"}}</p>
<dl class="dl-horizontal">
{{#each metadata.donation as |item|}}
<dt><i class="fa fa-angle-right"></i></dt>
<dd>{{#external-link url=item.url}}{{item.text}}{{/external-link}}{{#if item.coinaddress}}{{#selectable-text tagName="span" class="coinaddress"}}{{item.coinaddress}}{{/selectable-text}}{{/if}}</dd>
{{/each}}
</dl>
</article>
{{/if}}
<article>
<h3><i class="fa fa-language"></i>{{t "routes.about.translations.header"}}</h3>
<dl class="dl-horizontal">
{{#each-in localesConfig.locales as |code language|}}
<dt>{{t (concat "languages." code)}}</dt>
<dd>
<ul class="list-unstyled">
{{#each (get localesConfig.contributors code) as |contributor|}}
<li>{{contributor.name}}{{#if contributor.github}} (<i class="fa fa-github"></i> {{#external-link url=(concat "https://github.com/" contributor.github)}}{{contributor.github}}{{/external-link}}){{/if}}</li>
{{/each}}
</ul>
</dd>
{{/each-in}}
</dl>
</article>
<article>
<h3><i class="fa fa-sitemap"></i>{{t "routes.about.dependencies.header"}}</h3>
<dl class="dl-horizontal">
{{#each dependencies as |elem|}}
<dt>{{elem.title}}</dt>
<dd>{{elem.version}}</dd>
{{/each}}
</dl>
</article>
</main>