<header class="titlebar">
<h1>Livestreamer Twitch GUI</h1>
{{#link-to "index" classNames="logo" activeClass=""}}{{/link-to}}
<nav class="topnav">
<button type="button" class="btn-nav fa fa-chevron-left" {{action "history" -1}}></button>
<button type="button" class="btn-nav fa fa-chevron-right" {{action "history" 1}}></button>
{{input type="search" placeholder="Search" disabled=true}}
<button type="button" class="btn-small btn-context-valid fa fa-times"></button>
<button type="button" class="btn-small btn-context-valid fa fa-search"></button>
<button type="button" class="btn-small btn-dropdown fa fa-chevron-down" disabled></button>
</nav>
<nav class="buttons">
<button type="button" class="btn-close fa fa-times" {{action "winClose"}}></button>
<button type="button" class="btn-max fa fa-plus" {{action "winMax"}}></button>
<button type="button" class="btn-min fa fa-minus" {{action "winMin"}}></button>
<div class="spacer"></div>
{{#if dev}}
<button type="button" class="btn-dev fa fa-code" {{action "winDevTools"}}></button>
<button type="button" class="btn-refresh fa fa-refresh" {{action "winRefresh"}}></button>
<div class="spacer"></div>
{{/if}}
<button type="button" class="btn-settings fa fa-cog" {{action "goto" "settings"}}></button>
<button type="button" class="btn-login fa fa-user" disabled></button>
<div {{bind-attr class=":loginname isLoggedin::nologin"}}>{{loginname}}</div>
</nav>
</header>

<div class="wrapper horizontal">

<aside class="mainmenu">
<nav>
<h3>Browse</h3>
<ul>
<li>{{#link-to "index"}}Featured{{/link-to}}</li>
<li>{{#link-to "games"}}Top Games{{/link-to}}</li>
<li>{{#link-to "channels"}}Top Channels{{/link-to}}</li>
</ul>
<h3>Your</h3>
<ul>
<li>{{#link-to "history" disabled=true}}Recent Activity{{/link-to}}</li>
<li>{{#link-to "mostviewed" disabled=true}}Most Viewed{{/link-to}}</li>
<li>{{#link-to "following" disabled=true}}Favorites{{/link-to}}</li>
<li>{{#link-to "subscriptions" disabled=true}}Subscriptions{{/link-to}}</li>
</ul>
<h3>Misc</h3>
<ul>
<li>{{#link-to "settings"}}Settings{{/link-to}}</li>
<li>{{#link-to "about"}}About{{/link-to}}</li>
</ul>
</nav>
</aside>

{{outlet}}

</div>

{{outlet modal}}