<section class="titlebar">
<h1>Livestreamer Twitch GUI</h1>
<i class="pull-right fa fa-times win-close" {{action "winClose"}}></i>
<i class="pull-right fa fa-plus win-max" {{action "winMax"}}></i>
<i class="pull-right fa fa-minus win-min" {{action "winMin"}}></i>
{{#if dev}}
<i class="pull-right fa fa-code win-dev" {{action "winDevTools"}}></i>
<i class="pull-right fa fa-refresh win-refresh" {{action "winRefresh"}}></i>
{{/if}}
</section>

<section class="mainmenu">
{{#link-to "index" classNames="logo" activeClass=""}}<img src="img/Twitch_Logo_White.png">{{/link-to}}
<menu>
<nav>
<ul>
{{#link-to "games" tagName="li"}}<i class="fa fa-gamepad"></i> Games{{/link-to}}
{{#link-to "channels" tagName="li"}}<i class="fa fa-video-camera"></i> Channels{{/link-to}}
{{#link-to "videos" tagName="li" disabled=true}}<i class="fa fa-film"></i> Videos{{/link-to}}
{{#link-to "following" tagName="li" disabled=true}}<i class="fa fa-heart"></i> Following{{/link-to}}
{{#link-to "subscriptions" tagName="li" disabled=true}}<i class="fa fa-credit-card"></i> Subscriptions{{/link-to}}
</ul>
</nav>
</menu>
<footer>
<nav>
<ul>
{{#link-to "settings" tagName="li"}}<i class="fa fa-cogs"></i><span>Change settings</span>{{/link-to}}
{{#link-to "about" tagName="li"}}<i class="fa fa-question"></i><span>About</span>{{/link-to}}
<li {{action "fork"}}><i class="fa fa-github"></i><span><i class="fa fa-external-link"></i> Fork on Github</span></li>
</ul>
</nav>
</footer>
</section>

<section class="content">
{{outlet}}
</section>

{{outlet modal}}