<section class="titlebar">
<h1>Livestreamer Twitch GUI</h1>
<i class="pull-right fa fa-times win-close" {{action "winClose"}}></i>
<i class="pull-right fa fa-plus win-max" {{action "winMax"}}></i>
<i class="pull-right fa fa-minus win-min" {{action "winMin"}}></i>
{{#if dev}}
<i class="pull-right fa fa-code win-dev" {{action "winDevTools"}}></i>
<i class="pull-right fa fa-refresh win-refresh" {{action "winRefresh"}}></i>
{{/if}}
</section>

<section class="mainmenu">
{{#linkTo "index" classNames="logo" activeClass=""}}<img src="img/Twitch_Logo_White.png">{{/linkTo}}
<menu>
<nav>
<ul>
{{#linkTo "games" tagName="li"}}<i class="fa fa-gamepad"></i> Games{{/linkTo}}
{{#linkTo "channels" tagName="li"}}<i class="fa fa-video-camera"></i> Channels{{/linkTo}}
{{#linkTo "videos" tagName="li" disabled=true}}<i class="fa fa-film"></i> Videos{{/linkTo}}
{{#linkTo "following" tagName="li" disabled=true}}<i class="fa fa-heart"></i> Following{{/linkTo}}
{{#linkTo "subscriptions" tagName="li" disabled=true}}<i class="fa fa-credit-card"></i> Subscriptions{{/linkTo}}
</ul>
</nav>
</menu>
<footer>
<nav>
<ul>
{{#linkTo "settings" tagName="li" disabled=true}}<i class="fa fa-cogs"></i><span>Change settings</span>{{/linkTo}}
{{#linkTo "help" tagName="li" disabled=true}}<i class="fa fa-question"></i><span>Get help</span>{{/linkTo}}
<li {{action "fork"}}><i class="fa fa-github"></i><span>Fork on Github</span></li>
</ul>
</nav>
</footer>
</section>

<section class="content">
{{outlet}}
</section>