<header class="titlebar">
<h1>Livestreamer Twitch GUI</h1>
{{#link-to "index" classNames="logo" activeClass=""}}{{/link-to}}
{{render "searchbar"}}
<nav class="buttons">
<button type="button" class="btn-close fa fa-times" {{action "winClose"}}></button>
<button type="button" class="btn-max fa fa-plus" {{action "winMax"}}></button>
<button type="button" class="btn-min fa fa-minus" {{action "winMin"}}></button>
<div class="spacer"></div>
{{#if dev}}
<button type="button" class="btn-dev fa fa-code" {{action "winDevTools"}}></button>
<button type="button" class="btn-refresh fa fa-refresh" {{action "winRefresh"}}></button>
<div class="spacer"></div>
{{/if}}
<button type="button" class="btn-settings fa fa-cog" {{action "goto" "settings"}}></button>
<button type="button" {{bind-attr class=":btn-watching :btn-indicator streamsLength::btn-hidden :fa :fa-desktop"}} {{action "goto" "watching"}}>
<span class="indicator">{{streamsLength}}</span>
</button>
<button type="button" {{bind-attr class="isLoggedIn:btn-user:btn-no-user loginPending:btn-user-pending :fa :fa-user" title=loginTitle}} {{action "goto" "user.index"}}></button>
</nav>
</header>

<div class="wrapper horizontal">

<aside class="mainmenu">
<nav>
<h3>Browse</h3>
<ul>
<li>{{#link-to "index"}}Featured{{/link-to}}</li>
<li>{{#link-to "games"}}Top Games{{/link-to}}</li>
<li>{{#link-to "channels"}}Top Channels{{/link-to}}</li>
</ul>
<h3>Your</h3>
<ul>
<li>{{#link-to "user.following"}}Favorites{{/link-to}}</li>
<li>{{#link-to "user.subscriptions" disabled=true}}Subscriptions{{/link-to}}</li>
<li>{{#link-to "history" disabled=true}}Recent Activity{{/link-to}}</li>
<li>{{#link-to "mostviewed" disabled=true}}Most Viewed{{/link-to}}</li>
</ul>
<h3>Misc</h3>
<ul>
<li>{{#link-to "settings"}}Settings{{/link-to}}</li>
<li>{{#link-to "about"}}About{{/link-to}}</li>
</ul>
</nav>
</aside>

{{outlet}}

</div>

{{outlet modal}}