<main class="content content-channels">
<header>
<h2>Top Channels</h2>
{{#if metadata.total}}<div class="total">({{metadata.total}})</div>{{/if}}
{{#quick-bar}}
{{quick-bar-random-stream}}
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#if model.length}}
<ul class="content-list">
{{#each model as |stream index|}}
{{stream-item content=stream isNewItem=(is-gte index initialFetchSize) showGame=true}}
{{/each}}
</ul>
{{infinite-scroll}}
{{else}}
<p>The returned list of top channels is empty.</p>
{{/if}}
</main>