{{#selectable-text tagName="main" class="content content-error"}}
<h2>{{t "routes.error.header"}}</h2>
<h4>{{t "routes.error.text"}}</h4>
<dl class="dl-horizontal">
{{#each model as |row|}}
<dt>{{row.key}}</dt>
<dd class="{{if row.isStack 'stack'}}">{{row.value}}</dd>
{{/each}}
</dl>
{{/selectable-text}}