<main class="wrapper vertical content content-featured {{if isAnimated 'animated'}}">
<header>
<h2>Featured Channels</h2>
{{#quick-bar}}
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#if featured.length}}
{{#each featured as |elem index|}}
{{#if (is-equal _index index)}}
{{stream-presentation stream=elem.stream}}
{{/if}}
{{/each}}
<ul class="channels">
{{#each featured as |elem index|}}
<li title="{{elem.stream.channel.id}}" class="{{if (is-equal _index index) 'active'}}" {{action "switchFeatured" index}}>
{{preview-image src=elem.image title=elem.stream.channel.id}}
</li>
{{/each}}
<i class="cursor fa fa-caret-down"></i>
<i class="cursor fa fa-caret-down cursor-hover"></i>
</ul>
{{else}}
<section class="error-message">The featured streams list could not be loaded!</section>
{{/if}}
<section class="globalstats">There are {{summary.viewers}} people watching {{summary.channels}} live streams right now!</section>
</main>