<header>
<h2>Featured Channels</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
<section class="stream-presentation">
<div class="image">
<div class="preview" {{action "openLivestreamer" stream}}>
<img class="previewImage" src="{{stream.preview.large_nocache}}">
</div>
</div>
<div class="info">
<h3 class="title">{{#if stream.channel.has_language}}{{flag-icon type="channel" lang=stream.channel.language}}{{/if}}{{#link-to "channels.channel" stream.channel.id}}{{stream.channel.display_name}}{{/link-to}}</h3>
{{#if stream.game}}<div class="game"><i class="fa fa-gamepad"></i>{{#link-to "games.game" stream.game}}{{stream.game}}{{/link-to}}</div>{{/if}}
{{stats-row stream=stream}}
{{embedded-links class="status" text=stream.channel.status}}
</div>
</section>
<ul class="channels">
{{#each elem in featured}}
<li title="{{elem.stream.channel.id}}" class="{{if elem.isActive 'active'}}" {{action "switchFeatured" elem}}>
<img class="previewImage" src="{{elem.image}}" title="{{elem.stream.channel.id}}">
</li>
{{/each}}
</ul>
<section class="globalstats">There are {{summary.viewers}} people watching {{summary.channels}} live streams right now!</section>