<main class="wrapper vertical content content-featured {{if isAnimated 'animated'}}">
<header>
<h2>{{t "routes.featured.header"}}</h2>
{{#quick-bar}}
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#if featured.length}}
{{#each featured as |elem index|}}
{{#if (is-equal _index index)}}
{{stream-presentation stream=elem.stream}}
{{/if}}
{{/each}}
<ul class="channels">
{{#each featured as |elem index|}}
<li class="{{if (is-equal _index index) 'active'}}" {{action "switchFeatured" index}}>
{{preview-image src=elem.image title=elem.stream.channel.display_name}}
</li>
{{/each}}
<i class="cursor fa fa-caret-down"></i>
<i class="cursor fa fa-caret-down cursor-hover"></i>
</ul>
{{else}}
<section class="error-message">{{t "routes.featured.empty"}}</section>
{{/if}}
<section class="globalstats">{{t "routes.featured.summary" viewers=summary.viewers channels=summary.channels}}</section>
</main>