<h2>Featured channels</h2>
<section class="featured wrapper horizontal">
<aside class="info">
<h3 class="title">{{stream.channel.name}}</h3>
<p class="game">{{#link-to "games.game" stream.game}}{{stream.game}}{{/link-to}}</p>
<p class="stats"><i class="fa fa-clock-o"></i> {{hours-from-now stream.channel.updated_at}} <i class="fa fa-users"></i> {{format-viewers stream.viewers}}</p>
<p class="status">{{stream.channel.status}}</p>
</aside>
<div class="preview" {{action "open_livestreamer" stream}}><img {{bind-attr src=stream.preview.large}}></div>
</section>
<ul class="channels wrapper horizontal">
{{#each featured}}
<li {{bind-attr title="channel.name"}} {{action "switchFeatured" stream}}>
<img src="{{unbound image}}" title="{{unbound stream.channel.name}}">
</li>
{{/each}}
</ul>
<section class="globalstats">There are {{unbound summary.viewers}} people watching {{unbound summary.channels}} live streams right now!</section>