<div>
<header>{{#if head}}{{head}}{{else}}Please confirm{{/if}}</header>
<section class="content">{{#if body}}{{body}}{{else}}Are you sure?{{/if}}</section>
<footer>
{{#each button in buttons}}
<button type="button" class="btn btn-with-icon {{unbound button.button}}" {{action "button" button.action}}><i class="fa {{unbound button.icon}}"></i> {{unbound button.value}}</button>
{{else}}
<button type="button" class="btn btn-with-icon btn-success" {{action "close"}}><i class="fa fa-check"></i> OK</button>
{{/each}}
</footer>
</div>