<div>
<header>{{#if head}}{{head}}{{else}}Please confirm{{/if}}</header>
<section class="content">{{#if body}}{{body}}{{else}}Are you sure?{{/if}}</section>
<footer>
{{#each controls}}
{{#if this.isButton}}
<button type="button" class="btn btn-with-icon {{unbound this.classname}}" {{action "button" this.action}}><i class="fa {{unbound this.icon}}"></i> {{unbound this.value}}</button>
{{else}}
{{view Ember.Select classNames=this.classname value=this.value content=this.list optionValuePath="content.id" optionLabelPath="content.label" change=this.action}}
{{/if}}
{{else}}
<button type="button" class="btn btn-with-icon btn-success" {{action "close"}}><i class="fa fa-check"></i> OK</button>
{{/each}}
</footer>
</div>