<button type="button" class="btn-nav fa fa-chevron-left" {{action "history" -1}}></button>
<button type="button" class="btn-nav fa fa-chevron-right" {{action "history" 1}}></button>
{{input type="search" placeholder="Search" value=query required=true action="submit"}}
<button type="button" class="btn-small btn-context-valid fa fa-times" {{action "clear"}}></button>
<button type="button" class="btn-small btn-context-valid fa fa-search" {{action "submit"}}></button>
<button type="button" class="btn-small btn-dropdown fa fa-chevron-down" {{action "toggleDropdown"}}></button>
<div {{bind-attr class=":searchbar-dropdown showDropdown::hidden"}}>
<section class="wrapper filters">
<div>Filter results</div>
{{radio-buttons content=filters value=filter name="searchfilters" classNames="default"}}
</section>
{{#if content.length}}
<section class="recent">
<div class="wrapper">
<div>Recent searches</div>
<div class="clear" {{action "clearHistory"}}><i class="fa fa-trash-o"></i></div>
</div>
<ul class="list-unstyled">
{{#each sortedContent}}
<li {{action "searchHistory" this}}>
<div class="filter">{{unbound label}}</div>
<div class="query">{{unbound query}}</div>
<div class="date">{{unbound time-from-now date false}}</div>
</li>
{{/each}}
</ul>
</section>
{{/if}}
</div>