<h2>{{filterlabel}} search results: <span>{{query}}</span></h2>
{{#if noResults}}
<section class="noresults">Your query didn't match anything...</section>
{{/if}}
{{#if games.length}}
<section class="search-games">
{{#if notFiltered}}<h3>Games</h3>{{/if}}
<ul class="content-list">
{{#each games as |game|}}
{{game-item content=game}}
{{/each}}
</ul>
</section>
{{/if}}
{{#if channels.length}}
<section class="search-channels">
{{#if notFiltered}}<h3>Channels</h3>{{/if}}
<ul class="content-list">
{{#each channels as |channel|}}
{{channel-item content=channel}}
{{/each}}
</ul>
</section>
{{/if}}
{{#if streams.length}}
<section class="search-streams">
{{#if notFiltered}}<h3>Streams</h3>{{/if}}
<ul class="content-list">
{{#each streams as |stream index|}}
{{stream-item content=stream isNewItem=(is-gte index initialFetchSize) showGame=true}}
{{/each}}
</ul>
{{infinite-scroll}}
</section>
{{/if}}