<h2>Settings</h2>
<fieldset>
<legend>Advanced</legend>
<div><i class="fa fa-unlock-alt"></i> Settings and features<span>Show hidden settings and features.<br>Does not only apply to the settings menu.</span></div>
<div>{{#check-box checked=model.advanced}}Show advanced settings and features{{/check-box}}</div>
</fieldset>
<fieldset>
<legend>Livestreamer settings</legend>
<div><i class="fa fa-cog"></i> Executable location<span>By omitting a value, livestreamer has to be added to the $PATH variable.</span></div>
<div>{{file-select value=model.livestreamer inputClass="form-control" placeholder="Leave blank for default location"}}</div>
<div><i class="fa fa-eye"></i> Preferred quality<span>Choose the default stream quality.</span></div>
<div>{{view "select" value=model.quality content=settings.constructor.qualities optionValuePath="content.id" optionLabelPath="content.label"}}</div>
{{#if isAdvanced}}
<div><i class="fa fa-filter"></i> Stream type<span>Make sure your player does support the selected stream type.{{livestreamer-docs cmd="--player-passthrough"}}</span></div>
<div>{{view "select" value=model.player_passthrough content=settings.constructor.passthrough optionValuePath="content.value" optionLabelPath="content.label"}}</div>
{{/if}}
</fieldset>
<fieldset>
<legend>Videoplayer settings</legend>
<div><i class="fa fa-laptop"></i> Videoplayer<span>Use a custom player other than the one defined in your livestreamer config.{{livestreamer-docs cmd="--player"}}</span></div>
<div>{{file-select value=model.player inputClass="form-control" placeholder="Leave blank for default player"}}</div>
{{#if isAdvanced}}
<div><i class="fa fa-code"></i> Parameters<span>Add player specific parameters.{{livestreamer-docs cmd="--player-args"}}</span></div>
<div>{{input type="text" value=model.player_params classNames="col-xs-12" placeholder="Add custom player parameters"}}</div>
{{/if}}
{{#if isHttp}}
<div><i class="fa fa-refresh"></i> Reconnect<span>In case the connection has dropped.{{livestreamer-docs cmd="--player-continuous-http"}}</span></div>
<div>{{#check-box checked=model.player_reconnect}}Reconnect to stream{{/check-box}}</div>
{{/if}}
<div><i class="fa fa-times"></i> Close player<span>After the stream has ended.{{livestreamer-docs cmd="--player-no-close"}}</span></div>
<div>{{#check-box checked=model.player_no_close}}Do not close the player{{/check-box}}</div>
</fieldset>
<fieldset>
<legend>GUI settings</legend>
<div><i class="fa fa-puzzle-piece"></i> OS integration<span>Where to access the GUI from.</span></div>
<div>{{radio-buttons buttonName="integration" icon=true value=model.gui_integration content=settings.constructor.integration}}</div>
<div><i class="fa fa-minus"></i> Minimize GUI<span>When the videoplayer opens.</span></div>
<div>{{radio-buttons buttonName="minimize" icon=true value=model.gui_minimize content=settings.constructor.minimize}}</div>
{{#if hasBothIntegrations}}
<div><i class="fa fa-minus-square"></i> Minimize button<span>Minimize button click behavior.</span></div>
<div>{{#check-box checked=model.gui_minimizetotray}}Minimize to tray{{/check-box}}</div>
{{/if}}
<div><i class="fa fa-info-circle"></i> Stream popup<span>When a stream has started.</span></div>
<div>{{#check-box checked=model.gui_hidestreampopup}}Hide the popup on success{{/check-box}}</div>
<div><i class="fa fa-comment"></i> Open chat<span>After launching a stream.</span></div>
<div>{{#check-box checked=model.gui_openchat}}Automatically open chat{{/check-box}}</div>
</fieldset>
<fieldset>
<legend>Desktop notifications</legend>
<div><i class="fa fa-bullhorn"></i> Notifications<span>When favorites start streaming.</span></div>
<div>{{#check-box checked=model.notify_enabled}}Enable desktop notifications{{/check-box}}</div>
{{#if model.notify_enabled}}
<div><i class="fa fa-folder-open-o"></i> Grouping<span>Merge multiple notifications.</span></div>
<div>{{#check-box checked=model.notify_grouping}}Only show one notification at a time{{/check-box}}</div>
{{#if hasNotificationClickSupport}}
<div><i class="fa fa-crosshairs"></i> Notification click<span>Preferred click action.</span></div>
<div>{{view "select" class="notifications" value=model.notify_click content=settings.constructor.notify_click optionValuePath="content.id" optionLabelPath="content.label"}}</div>
{{#if notifyGroupAndClick}}
<div><i class="fa fa-crosshairs"></i> Group click<span>Preferred group click action.</span></div>
<div>{{view "select" class="notifications" value=model.notify_click_group content=settings.constructor.notify_click_group optionValuePath="content.id" optionLabelPath="content.label"}}</div>
{{/if}}
{{/if}}
{{#if isVisibleInTaskbar}}
<div><i class="fa fa-tag"></i> Favorites indication<span>As label on the task bar / dock icon.<br>Has to be supported by your OS.</span></div>
<div>{{#check-box checked=model.notify_badgelabel}}Show number of streaming favorites{{/check-box}}</div>
{{/if}}
{{/if}}
</fieldset>
<fieldset class="submit">
<div>
{{#form-button action="apply"   class="btn-success" icon="fa-check"   iconanim=true}}Apply{{/form-button}}
{{#form-button action="discard" class="btn-danger"  icon="fa-trash-o" iconanim=true}}Discard{{/form-button}}
</div>
</fieldset>