<main class="content content-settings">
<h2>Settings</h2>
<fieldset>
<legend>Advanced</legend>
<div><i class="fa fa-unlock-alt"></i> Settings and features<span>Enable hidden settings and features.<br>Does not only apply to the settings menu.</span></div>
<div>{{#check-box checked=model.advanced}}Enable advanced settings and features{{/check-box}}</div>
</fieldset>
<fieldset>
<legend>Streams</legend>
<div><i class="fa fa-eye"></i> Preferred quality<span>Choose the default stream quality.</span></div>
<div>{{drop-down value=model.quality content=settings.content.constructor.qualities}}</div>
<div><i class="fa fa-info-circle"></i> Stream popup<span>When a stream has started.</span></div>
<div>{{#check-box checked=model.gui_hidestreampopup}}Hide the popup on success{{/check-box}}</div>
</fieldset>
<fieldset>
<legend>Chat</legend>
<div><i class="fa fa-twitch"></i> Chat method<span>Explicitly choose a browser to be able to use minimal chat windows.</span></div>
<div>{{drop-down value=model.chat_method content=chatMethods class="chat-method"}}</div>
{{#unless (bool-or isChatMethodDefault isChatMethodMSIE)}}
<div><i class="fa fa-cog"></i> Executable location<span>
{{#if isChatMethodCustom}}
Available parameters: <span title="Name of the channel">{channel}</span> and <span title="Twitch chat URL">{url}</span>.<br>Example: <span class="docs">/path/to/app --name {channel} {url}</span>
{{else}}
Choose a custom executable file of your selected browser. If left blank, default installation paths are assumed.
{{/if}}
</span></div>
<div>{{file-select value=model.chat_command inputClass="form-control" placeholder=(if isChatMethodCustom "Application path and parameters" "Custom browser executable")}}</div>
{{/unless}}
<div><i class="fa fa-comment"></i> Open chat<span>After launching a stream.</span></div>
<div>{{#check-box checked=model.gui_openchat}}Automatically open chat{{/check-box}}</div>
</fieldset>
<fieldset>
<legend>Livestreamer</legend>
<div><i class="fa fa-cog"></i> Executable location<span>By omitting a value, livestreamer has to be added to the $PATH variable.</span></div>
<div>{{file-select value=model.livestreamer inputClass="form-control" placeholder="Leave blank for default location"}}</div>
{{#if model.advanced}}
<div><i class="fa fa-code"></i> Custom parameters<span>Set additional custom livestreamer parameters.</span></div>
<div>{{input type="text" value=model.livestreamer_params classNames="col-xs-12" placeholder="Add custom livestreamer parameters"}}</div>
<div><i class="fa fa-filter"></i> Stream type<span>Make sure your player does support the selected stream type.{{livestreamer-docs cmd="--player-passthrough"}}</span></div>
<div>{{drop-down value=model.player_passthrough content=settings.content.constructor.passthrough optionValuePath="value"}}</div>
{{#if (is-equal model.player_passthrough "http")}}
<div><i class="fa fa-refresh"></i> Reconnect<span>In case the connection has dropped.{{livestreamer-docs cmd="--player-continuous-http"}}</span></div>
<div>{{#check-box checked=model.player_reconnect}}Reconnect to stream{{/check-box}}</div>
{{/if}}
{{#unless (is-equal model.player_passthrough "hls")}}
<div><i class="fa fa-bolt"></i> HLS live edge<span>Lowering the value will reduce stream latency, but may also cause buffering.{{livestreamer-docs cmd="--hls-live-edge"}}</span></div>
<div>{{input type="number" value=model.hls_live_edge placeholder=hlsLiveEdgeDefault min=hlsLiveEdgeMin max=hlsLiveEdgeMax}}</div>
<div><i class="fa fa-sort-amount-asc"></i> HLS segment threads<span>Number of threads used for downloading and processing stream segments.{{livestreamer-docs cmd="--hls-segment-threads"}}</span></div>
<div>{{input type="number" value=model.hls_segment_threads placeholder=hlsSegmentThreadsDefault min=hlsSegmentThreadsMin max=hlsSegmentThreadsMax}}</div>
{{/unless}}
{{/if}}
</fieldset>
<fieldset>
<legend>Videoplayer{{#if model.advanced}}{{form-button action="togglePlayerCmdSubstitutions" class="btn-subst btn-neutral" icon=(if playerCmdSubstitutionsVisible "fa-chevron-up" "fa-chevron-down")}}{{/if}}</legend>
{{#if (bool-and model.advanced playerCmdSubstitutionsVisible)}}
<div class="substitutions"><i class="fa fa-terminal"></i> Command line variables<span>These variables may be used in the <em>--player</em> and <em>--player-args</em> parameters, eg. if you intend to change the player title to the channel name. Please make sure that you put all variables in quotation marks.<br>Example:<br><span class="docs">/usr/bin/mpv --title &quot;{name} - {game}&quot;</span></span></div>
<div class="substitutions">
<dl class="dl-horizontal">
{{#each playerCmdSubstitutions as |substitution|}}
<dt title="{{substitution.tooltip}}">{{substitution.variable}}</dt>
<dd>{{substitution.description}}</dd>
{{/each}}
</dl>
</div>
{{/if}}
<div><i class="fa fa-laptop"></i> Videoplayer<span>Use a custom player other than the one defined in your livestreamer config.{{livestreamer-docs cmd="--player"}}</span></div>
<div>{{file-select value=model.player inputClass="form-control" placeholder="Leave blank for default player"}}</div>
{{#if model.advanced}}
<div><i class="fa fa-code"></i> Parameters<span>Add player specific parameters.{{livestreamer-docs cmd="--player-args"}}</span></div>
<div>{{input type="text" value=model.player_params classNames="col-xs-12" placeholder="Add custom player parameters"}}</div>
{{/if}}
<div><i class="fa fa-times"></i> Close player<span>After the stream has ended.{{livestreamer-docs cmd="--player-no-close"}}</span></div>
<div>{{#check-box checked=model.player_no_close}}Do not close the player{{/check-box}}</div>
</fieldset>
<fieldset>
<legend>GUI</legend>
<div><i class="fa fa-paint-brush"></i> Theme<span>Select a GUI color theme.</span></div>
<div>{{drop-down value=model.gui_theme content=themes}}</div>
<div><i class="fa fa-puzzle-piece"></i> OS integration<span>Where to access the GUI from.</span></div>
<div>{{radio-buttons buttonName="integration" icon=true value=model.gui_integration content=settings.content.constructor.integration}}</div>
<div><i class="fa fa-minus"></i> Minimize GUI<span>When the videoplayer opens.</span></div>
<div>{{radio-buttons buttonName="minimize" icon=true value=model.gui_minimize content=settings.content.constructor.minimize}}</div>
{{#if hasBothIntegrations}}
<div><i class="fa fa-minus-square"></i> Minimize button<span>Minimize button click behavior.</span></div>
<div>{{#check-box checked=model.gui_minimizetotray}}Minimize to tray{{/check-box}}</div>
{{/if}}
{{#if (bool-or hasTaskBarIntegration hasBothIntegrations)}}
<div><i class="fa fa-tag"></i> Application badge<span>On the task bar icon or dock icon.<br>Has to be supported by your OS and requires enabled desktop notifications.</span></div>
<div>{{#check-box checked=model.notify_badgelabel disabled=(bool-not model.notify_enabled)}}Show number of streaming favorites{{/check-box}}</div>
{{/if}}
</fieldset>
<fieldset>
<legend>Stream languages</legend>
<div><i class="fa fa-flag"></i> Flags<span>Indicating the broadcaster language.</span></div>
<div>{{#check-box checked=model.gui_flagsvisible}}Flags are always visible{{/check-box}}</div>
<div><i class="fa fa-filter"></i> Filter streams<span>Choose <i class="text-nowrap">Fade out</i> to dim or choose <i class="text-nowrap">Filter out</i> to remove streams not matching your language selection from lists.</span></div>
{{radio-buttons buttonName="filterstreams" boxes=false wrap=true value=model.gui_filterstreams content=settings.content.constructor.gui_filterstreams}}
<div><i class="fa fa-language"></i> Languages<span>Broadcaster languages.</span></div>
<div>
<ul class="list-unstyled filter-lang">
{{#each languages as |language|}}
{{lang-filter obj=model.gui_langfilter prop=language.id name=language.lang}}
{{/each}}
</ul>
<div><a href="#" {{action "checkLanguages" true}}>Check all</a> / <a href="#" {{action "checkLanguages" false}}>Uncheck all</a></div>
</div>
</fieldset>
<fieldset>
<legend>Desktop notifications</legend>
<div><i class="fa fa-bullhorn"></i> Notifications<span>When favorites start streaming.</span></div>
<div>{{#check-box checked=model.notify_enabled}}Enable desktop notifications{{/check-box}}</div>
{{#if model.notify_enabled}}
<div><i class="fa fa-eyedropper"></i> Channel filter<span>Notifications can be turned on/off individually in a channel's settings menu.</span></div>
{{radio-buttons buttonName="notify_all" boxes=false wrap=true value=model.notify_all content=settings.content.constructor.notify_all}}
<div><i class="fa fa-folder-open-o"></i> Grouping<span>Merge multiple notifications.</span></div>
<div>{{#check-box checked=model.notify_grouping}}Only show one notification at a time{{/check-box}}</div>
{{#if hasNotificationClickSupport}}
<div><i class="fa fa-crosshairs"></i> Notification click<span>Preferred click action.</span></div>
<div>{{drop-down value=model.notify_click content=settings.content.constructor.notify_click class="notifications"}}</div>
{{#if (bool-and model.notify_grouping model.notify_click)}}
<div><i class="fa fa-crosshairs"></i> Group click<span>Preferred group click action.</span></div>
<div>{{drop-down value=model.notify_click_group content=settings.content.constructor.notify_click_group class="notifications"}}</div>
{{/if}}
{{/if}}
{{/if}}
</fieldset>
<fieldset class="submit">
<div>
{{#form-button action="apply"   class="btn-success" icon="fa-check"   iconanim=true}}Apply{{/form-button}}
{{#form-button action="discard" class="btn-danger"  icon="fa-trash-o" iconanim=true}}Discard{{/form-button}}
</div>
</fieldset>
</main>