<main class="content content-settings">
<h2>Settings</h2>
<fieldset>
<legend>Advanced</legend>
{{#settings-row
	"Settings and features"
	"Enable hidden settings and features.<br>Does not only apply to the settings menu."
	icon="fa-unlock-alt"
}}
	{{#check-box checked=model.advanced}}Enable advanced settings and features{{/check-box}}
{{/settings-row}}
</fieldset>
<fieldset>
<legend>Streams</legend>
{{#settings-row
	"Preferred quality"
	"Choose the default stream quality."
	icon="fa-eye"
}}
	{{drop-down value=model.quality content=settings.content.constructor.qualities}}
{{/settings-row}}

{{#settings-row
	"Stream popup"
	"When a stream has started."
	icon="fa-info-circle"
}}
	{{#check-box checked=model.gui_hidestreampopup}}Hide the popup on success{{/check-box}}
{{/settings-row}}
</fieldset>
<fieldset>
<legend>Chat</legend>
{{#settings-row
	"Chat method"
	"Explicitly choose a browser to be able to use minimal chat windows."
	icon="fa-twitch"
}}
	{{drop-down value=model.chat_method content=chatMethods class="chat-method"}}
{{/settings-row}}

{{#unless (bool-or isChatMethodDefault isChatMethodMSIE)}}
	{{#settings-row
		"Executable location"
		(if isChatMethodCustom
			"Set a custom chat application."
			(if isChatMethodChatty
				"Set the path to the Chatty .jar file.<br>If left blank, &quot;chatty&quot; start script in $PATH will be used.<span class='docs'>Requires Chatty >= 0.8.2b2</span>"
				"Choose a custom executable file of your selected browser. If left blank, default installation paths are assumed."
			)
		)
		icon="fa-cog"
		substitutions=(if isChatMethodCustom substitutionsChatCustom)
	}}
		{{file-select
			value=model.chat_command
			inputClass="form-control"
			placeholder=(if isChatMethodCustom
				"Application path and parameters"
				(if isChatMethodChatty
					"Chatty .jar file path"
					"Custom browser executable"
				)
			)
		}}
	{{/settings-row}}
{{/unless}}

{{#settings-row
	"Open chat"
	"While launching streams."
	icon="fa-comment"
}}
	<div>{{#check-box checked=model.gui_openchat}}Automatically open chat{{/check-box}}</div>
	{{#if model.gui_openchat}}
		<div>{{#check-box checked=model.gui_openchat_context}}Don&#39;t open chat while launching streams via the context menu{{/check-box}}</div>
	{{/if}}
{{/settings-row}}

{{#settings-row
	"Twitch emotes"
	"Button that opens up twitchemotes.com."
	icon="fa-smile-o"
}}
	{{#check-box checked=model.gui_twitchemotes}}Show emotes button in stream popups{{/check-box}}
{{/settings-row}}
</fieldset>
<fieldset>
<legend>Livestreamer</legend>
{{#settings-row
	"Executable location"
	"By omitting a value, livestreamer has to be added to the $PATH variable."
	icon="fa-cog"
}}
	{{file-select value=model.livestreamer inputClass="form-control" placeholder="Leave blank for default location"}}
{{/settings-row}}

{{#if model.advanced}}
	{{#settings-row
		"Custom parameters"
		"Set additional custom livestreamer parameters."
		icon="fa-code"
	}}
		{{input type="text" value=model.livestreamer_params classNames="col-xs-12" placeholder="Add custom livestreamer parameters"}}
	{{/settings-row}}

	{{#settings-row
		"Stream type"
		"Make sure your player does support the selected stream type."
		icon="fa-filter"
		livestreamerCmd="--player-passthrough"
	}}
		{{drop-down value=model.player_passthrough content=settings.content.constructor.passthrough optionValuePath="value"}}
	{{/settings-row}}

	{{#if (is-equal model.player_passthrough "http")}}
		{{#settings-row
			"Reconnect"
			"In case the connection has dropped."
			icon="fa-refresh"
			livestreamerCmd="--player-continuous-http"
		}}
			{{#check-box checked=model.player_reconnect}}Reconnect to stream{{/check-box}}
		{{/settings-row}}
	{{/if}}

	{{#unless (is-equal model.player_passthrough "hls")}}
		{{#settings-row
			"HLS live edge"
			"Lowering the value will reduce stream latency, but may also cause buffering."
			icon="fa-bolt"
			livestreamerCmd="--hls-live-edge"
		}}
			{{input type="number" value=model.hls_live_edge placeholder=hlsLiveEdgeDefault min=hlsLiveEdgeMin max=hlsLiveEdgeMax}}
		{{/settings-row}}

		{{#settings-row
			"HLS segment threads"
			"Number of threads used for downloading and processing stream segments."
			icon="fa-sort-amount-asc"
			livestreamerCmd="--hls-segment-threads"
		}}
			{{input type="number" value=model.hls_segment_threads placeholder=hlsSegmentThreadsDefault min=hlsSegmentThreadsMin max=hlsSegmentThreadsMax}}
		{{/settings-row}}
	{{/unless}}
{{/if}}

{{#settings-row
	"Launch attempts"
	"Number of stream launch attempts."
	icon="fa-rocket"
	livestreamerCmd="--retry-open"
}}
	{{input type="number" value=model.retry_open placeholder=retryOpenDefault min=retryOpenMin max=retryOpenMax}}
{{/settings-row}}

{{#settings-row
	"Retry delay"
	"Time in seconds between each attempt."
	icon="fa-hourglass-half"
	livestreamerCmd="--retry-streams"
}}
	{{input type="number" value=model.retry_streams placeholder=retryStreamsDefault min=retryStreamsMin max=retryStreamsMax}}
{{/settings-row}}
</fieldset>
<fieldset>
<legend>Videoplayer</legend>
{{#settings-row
	"Videoplayer"
	"Use a custom player other than the one defined in your livestreamer config."
	icon="fa-laptop"
	livestreamerCmd="--player"
	substitutions=(if model.advanced substitutionsPlayer)
}}
	{{file-select value=model.player inputClass="form-control" placeholder="Leave blank for default player"}}
{{/settings-row}}

{{#if model.advanced}}
	{{#settings-row
		"Parameters"
		"Add player specific parameters."
		icon="fa-code"
		livestreamerCmd="--player-args"
		substitutions=substitutionsPlayer
	}}
		{{input type="text" value=model.player_params classNames="col-xs-12" placeholder="Add custom player parameters"}}
	{{/settings-row}}
{{/if}}

{{#settings-row
	"Close player"
	"After the stream has ended."
	icon="fa-times"
	livestreamerCmd="--player-no-close"
}}
	{{#check-box checked=model.player_no_close}}Do not close the player{{/check-box}}
{{/settings-row}}
</fieldset>
<fieldset>
<legend>GUI</legend>
{{#settings-row
	"Theme"
	"Select a GUI color theme."
	icon="fa-paint-brush"
}}
	{{drop-down value=model.gui_theme content=themes}}
{{/settings-row}}

{{#settings-row
	"Scrolling"
	"Enable or disable smooth scrolling."
	icon="fa-arrows-alt"
}}
	{{#check-box checked=model.gui_smoothscroll}}Enable smooth scrolling{{/check-box}}
{{/settings-row}}

{{#settings-row
	"OS integration"
	"Where to access the GUI from."
	icon="fa-puzzle-piece"
}}
	{{#radio-btns
		name="gui_integration"
		value=model.gui_integration
		content=settings.content.constructor.integration
		optionValuePath="id"
		classNames="radio-btns-group"
		as |radiobtn label|
	}}
		{{#component radiobtn classNames="btn btn-with-icon btn-neutral"}}{{label}}{{/component}}
	{{/radio-btns}}
{{/settings-row}}

{{#settings-row
	"Minimize GUI"
	"When the videoplayer opens."
	icon="fa-minus"
}}
	{{#radio-btns
		name="gui_minimize"
		value=model.gui_minimize
		content=settings.content.constructor.minimize
		optionValuePath="id"
		classNames="radio-btns-group"
		as |radiobtn label|
	}}
		{{#component radiobtn classNames="btn btn-with-icon btn-neutral"}}{{label}}{{/component}}
	{{/radio-btns}}
{{/settings-row}}

{{#if hasBothIntegrations}}
	{{#settings-row
		"Minimize button"
		"Minimize button click behavior."
		icon="fa-minus-square"
	}}
		{{#check-box checked=model.gui_minimizetotray}}Minimize to tray{{/check-box}}
	{{/settings-row}}
{{/if}}

{{#if (bool-or hasTaskBarIntegration hasBothIntegrations)}}
	{{#settings-row
		"Application badge"
		"On the task bar icon or dock icon.<br>Has to be supported by your OS and requires enabled desktop notifications."
		icon="fa-tag"
	}}
		{{#check-box checked=model.notify_badgelabel disabled=(bool-not model.notify_enabled)}}Show number of streaming favorites{{/check-box}}
	{{/settings-row}}
{{/if}}

{{#settings-row
	"Refresh content"
	"Automatically refresh when the application window regains focus."
	icon="fa-refresh"
}}
	{{drop-down value=model.gui_focusrefresh content=settings.content.constructor.gui_focusrefresh optionValuePath="value"}}
{{/settings-row}}
</fieldset>
<fieldset>
<legend>Stream lists</legend>
{{#settings-row
	"Flags"
	"Indicating the broadcaster language."
	icon="fa-flag"
}}
	{{#check-box checked=model.stream_show_flag}}Flags are always visible{{/check-box}}
{{/settings-row}}

{{#settings-row
	"Info bar"
	"Bottom bar inside the stream preview."
	icon="fa-info"
}}
	{{#check-box checked=model.stream_show_info}}Info bar is always visible{{/check-box}}
	<p>What should be displayed?</p>
	{{drop-down class="stream-click" value=model.stream_info content=settings.content.constructor.stream_info}}
{{/settings-row}}

{{#settings-row
	"Click behavior"
	"Additional stream image click actions."
	icon="fa-hand-pointer-o"
}}
	<p>{{unless platform.isDarwin "CTRL" "CMD"}} + Primary mouse button</p>
	{{drop-down class="stream-click" value=model.stream_click_modify content=settings.content.constructor.stream_click}}
	<p>Middle mouse button</p>
	{{drop-down class="stream-click" value=model.stream_click_middle content=settings.content.constructor.stream_click}}
{{/settings-row}}
</fieldset>
<fieldset>
<legend>Languages</legend>
{{#settings-row
	"Filter streams"
	"Choose <i class='text-nowrap'>Fade out</i> to dim or choose <i class='text-nowrap'>Filter out</i> to remove streams not matching your language selection from lists."
	icon="fa-filter"
}}
	{{#radio-btns
		name="filterstreams"
		value=model.gui_filterstreams
		content=settings.content.constructor.gui_filterstreams
		as |radiobtn label|
	}}
		<div>{{#component radiobtn}}{{label}}{{/component}}</div>
	{{/radio-btns}}
	{{#if model.gui_filterstreams}}
		<p class="notice"><em>Please select only one language.<br>Filtering multiple languages is not supported by Twitch.</em></p>
	{{/if}}
{{/settings-row}}

{{#settings-row
	"Languages"
	"Broadcaster languages."
	icon="fa-language"
}}
	<ul class="list-unstyled filter-lang">
		{{#each languages as |language|}}
			{{lang-filter obj=model.gui_langfilter prop=language.id name=language.lang}}
		{{/each}}
	</ul>
	<div><a href="#" {{action "checkLanguages" true}}>Check all</a> / <a href="#" {{action "checkLanguages" false}}>Uncheck all</a></div>
{{/settings-row}}
</fieldset>
<fieldset>
<legend>Desktop notifications</legend>
{{#settings-row
	"Notifications"
	"When favorites start streaming."
	icon="fa-bullhorn"
}}
	{{#check-box checked=model.notify_enabled}}Enable desktop notifications{{/check-box}}
{{/settings-row}}

{{#if model.notify_enabled}}
	{{#if (bool-and model.advanced platform.isWinGte8)}}
		{{#settings-row
			"Startmenu shortcut"
			"Required by Windows for receiving toast notifications. Re-enabling this option may require an application restart."
			icon="fa-link"
		}}
			{{#check-box checked=model.notify_shortcut}}Create a startmenu shortcut{{/check-box}}
		{{/settings-row}}
	{{/if}}

	{{#settings-row
		"Channel filter"
		"Notifications can be turned on/off individually in a channel's settings menu."
		icon="fa-eyedropper"
	}}
		{{#radio-btns
			name="notify_all"
			value=model.notify_all
			content=settings.content.constructor.notify_all
			as |radiobtn label|
		}}
			<div>{{#component radiobtn}}{{label}}{{/component}}</div>
		{{/radio-btns}}
	{{/settings-row}}

	{{#settings-row
		"Grouping"
		"Merge multiple notifications."
		icon="fa-folder-open-o"
	}}
		{{#check-box checked=model.notify_grouping}}Only show one notification at a time{{/check-box}}
	{{/settings-row}}

	{{#unless platform.isLinux}}
		{{#settings-row
			"Notification click"
			"Preferred click action."
			icon="fa-hand-pointer-o"
		}}
			{{drop-down value=model.notify_click content=settings.content.constructor.notify_click class="notifications"}}
		{{/settings-row}}

		{{#if (bool-and model.notify_grouping model.notify_click)}}
			{{#settings-row
				"Group click"
				"Preferred group click action."
				icon="fa-hand-pointer-o"
			}}
				{{drop-down value=model.notify_click_group content=settings.content.constructor.notify_click_group class="notifications"}}
			{{/settings-row}}
		{{/if}}
	{{/unless}}
{{/if}}
</fieldset>
<fieldset class="submit">
<div>
{{#form-button action="apply"   class="btn-success" icon="fa-check"   iconanim=true}}Apply{{/form-button}}
{{#form-button action="discard" class="btn-danger"  icon="fa-trash-o" iconanim=true}}Discard{{/form-button}}
</div>
</fieldset>
</main>