<button type="button" class="btn btn-open"><i class="fa fa-wrench"></i></button>
<div class="menu">
{{#if btnHomepage}}
<button type="button" {{bind-attr class=":btn :btn-neutral isHomepage::inactive"}} {{action "homepage" url}} title="Set as homepage"><i class="fa fa-home"></i></button>
{{/if}}
{{#if btnLayout}}
<div class="multibtn">
<button type="button" {{bind-attr class=":btn isLayoutTile::inactive"}} {{action "layout" "tile"}} title="Switch to tile layout"><i class="fa fa-th-large"></i></button>
<button type="button" {{bind-attr class=":btn isLayoutList::inactive"}} {{action "layout" "list"}} title="Switch to list layout"><i class="fa fa-align-justify"></i></button>
</div>
{{/if}}
</div>