{{#if content.length}}
<h2>You're watching</h2>
<ul class="list-unstyled">
{{#each arrangedContent as |watching|}}
<li class="stream-presentation watching">
<div class="image">
<div class="preview">
<img class="previewImage" src="{{watching.stream.preview.large_nocache}}">
</div>
</div>
<div class="info">
<h3 class="title">{{#if watching.stream.channel.has_language}}{{flag-icon type="channel" lang=watching.stream.channel.language}}{{/if}}{{#link-to "channel" watching.stream.channel.id}}{{watching.stream.channel.display_name}}{{/link-to}}</h3>
{{#if watching.stream.game}}<div class="game"><i class="fa fa-gamepad"></i>{{#link-to "games.game" watching.stream.game}}{{watching.stream.game}}{{/link-to}}</div>{{/if}}
{{stats-row stream=watching.stream}}
{{embedded-links class="status" text=watching.stream.channel.status}}
<footer class="buttons">
{{#form-button action="openLivestreamer" actionParam=watching.stream icon="fa-arrow-up"}}Open dialog{{/form-button}}
</footer>
</div>
</li>
{{/each}}
</ul>
{{else}}
<h2>All streams have been closed</h2>
<p>What to do next?</p>
<ul class="fa-ul list-empty">
<li>{{#link-to "featured"}}<i class="fa fa-li fa-caret-right"></i>Watch currently featured streams{{/link-to}}</li>
{{#if auth.session.isLoggedIn}}
<li>{{#link-to "user.followedStreams"}}<i class="fa fa-li fa-caret-right"></i>Watch your followed channels{{/link-to}}</li>
{{/if}}
</ul>
{{/if}}