{{#if content.length}}
<h2>You're watching</h2>
<ul class="list-unstyled">
{{#each watching in arrangedContent}}
<li class="watching-stream">
<img class="left" {{bind-attr src=watching.stream.preview.large_nocache}}>
<section class="right">
<h3>{{#if watching.stream.channel.has_language}}{{flag-icon type="channel" lang=watching.stream.channel.language}}{{/if}}{{watching.stream.channel.display_name}}</h3>
<div class="game">{{#link-to "games.game" watching.stream.game}}{{watching.stream.game}}{{/link-to}}</div>
<div class="stats stats-row">
{{#if watching.stream.channel.has_broadcaster_language}}<span>{{flag-icon type="broadcaster" lang=watching.stream.channel.broadcaster_language}}</span>{{/if}}
<span {{bind-attr title=watching.stream.title_created_at}}><i class="fa fa-clock-o"></i>{{hours-from-now watching.stream.created_at}}</span>
<span {{bind-attr title=watching.stream.title_viewers}}><i class="fa fa-users"></i>{{format-viewers watching.stream.viewers}}</span>
<span {{bind-attr title=watching.stream.channel.title_followers}}><i class="fa fa-heart"></i>{{format-viewers watching.stream.channel.followers}}</span>
<span {{bind-attr title=watching.stream.channel.title_views}}><i class="fa fa-line-chart"></i>{{format-viewers watching.stream.channel.views}}</span>
</div>
{{embedded-links class="info" text=watching.stream.channel.status}}
<footer class="buttons">
{{#form-button action="openLivestreamer" actionParam=watching.stream icon="fa-arrow-up"}}Open dialog{{/form-button}}
</footer>
</section>
</li>
{{/each}}
</ul>
{{else}}
<h2>All streams have been closed</h2>
<p>What to do next?</p>
<ul class="fa-ul list-empty">
<li>{{#link-to "featured"}}<i class="fa fa-li fa-caret-right"></i>Watch currently featured streams{{/link-to}}</li>
{{#if auth.isLoggedIn}}
<li>{{#link-to "user.following"}}<i class="fa fa-li fa-caret-right"></i>Watch your followed channels{{/link-to}}</li>
{{/if}}
</ul>
{{/if}}