<main class="content content-watching">
{{#if model.length}}
<h2>You're watching</h2>
<ul class="list-unstyled">
{{#each sortedModel as |watching|}}
{{#stream-presentation stream=watching.stream tagName="li" class="watching" clickablePreview=false}}
{{form-button action=(action "openDialog" watching.stream) icon="fa-arrow-up" title="Open dialog"}}
{{form-button action=(action "closeStream" watching.stream) class="btn-danger" icon="fa-times" title="Close stream"}}
{{open-chat channel=watching.stream.channel}}
{{twitch-emotes channel=watching.stream.channel}}
{{share-channel channel=watching.stream.channel}}
{{/stream-presentation}}
{{/each}}
</ul>
{{else}}
<h2>All streams have been closed</h2>
<p>What to do next?</p>
<ul class="fa-ul list-empty">
<li>{{#link-to "featured"}}<i class="fa fa-li fa-caret-right"></i>Watch currently featured streams{{/link-to}}</li>
{{#if auth.session.isLoggedIn}}
<li>{{#link-to "user.followedStreams"}}<i class="fa fa-li fa-caret-right"></i>Watch your followed streams{{/link-to}}</li>
{{/if}}
</ul>
{{/if}}
</main>