<h1>{{displayName}}</h1>
<div class="logo" {{action "homepage"}}></div>
{{search-bar}}
<nav class="buttons buttons-main">
	<button
		type="button"
		class="{{if auth.session.isLoggedIn 'btn-user' 'btn-no-user'}} {{if auth.session.isPending 'btn-user-pending'}} {{if notification.enabled 'btn-indicator'}} fa fa-user"
		title="{{unless auth.session.isLoggedIn
			(t "components.title-bar.loggedout")
			(t "components.title-bar.loggedin" name=auth.session.user_name status=notification.statusText)
		}}"
		{{action "goto" "user.index"}}
	>
		{{#if notification.enabled}}
			<span class="indicator {{if notification.paused 'indicator-disabled' (if notification.error 'indicator-error')}} fa fa-bullhorn"></span>
		{{/if}}
	</button>
	<button type="button" class="btn-watching btn-indicator {{unless streaming.model.length 'btn-hidden'}} fa fa-desktop" {{action "goto" "watching"}}>
		<span class="indicator">{{streaming.model.length}}</span>
	</button>
	<button type="button" class="btn-settings fa fa-cog" {{action "goto" "settings"}}></button>
</nav>
<nav class="buttons buttons-debug {{unless isDebug 'hidden'}}">
	<button type="button" class="btn-reload fa fa-refresh" {{action "nwjsAction" "reload"}}></button>
	<button type="button" class="btn-devtools fa fa-code" {{action "nwjsAction" "devTools"}}></button>
</nav>
<nav class="buttons buttons-window {{if settings.gui.hidebuttons 'buttons-hidden'}}">
	<div>
		<button type="button" class="btn-min fa fa-minus" {{action "nwjsAction" "minimize"}}></button>
		<button type="button" class="btn-max fa fa-plus" {{action "nwjsAction" "maximize"}}></button>
		<button type="button" class="btn-close fa fa-times" {{action "nwjsAction" "close"}}></button>
	</div>
</nav>