<main class="content content-channel">
	<header>
		<div class="logo">
			{{preview-image src=user.profile_image_url title=user.display_name}}
		</div>
		<div class="info">
			<h3 class="title">
				{{#if stream.hasLanguage}}{{flag-icon type="channel" lang=stream.language}}{{/if}}
				<span>{{user.display_name}}</span>
			</h3>
			{{#if stream}}
				<div class="stats online">
					<span title="{{stream.titleStartedAt}}"><i class="fa fa-clock-o"></i> {{hours-from-now stream.started_at interval=60000}}</span>
					<span title="{{stream.titleViewers}}"><i class="fa fa-users"></i> {{format-viewers stream.viewer_count}}</span>
					{{#if stream.game_id}}<span><i class="fa fa-gamepad"></i> {{#link-to "games.game" stream.game_id}}{{stream.game_name}}{{/link-to}}</span>{{/if}}
				</div>
				{{embedded-links text=stream.title classNames="status"}}
			{{else}}
				<div class="stats offline"><i class="fa fa-bed"></i> {{t "routes.channel.offline"}}</div>
				{{#if user.description}}
					{{embedded-links text=user.description classNames="status"}}
				{{else}}
					<div class="status status-missing">{{t "routes.channel.no-status"}}</div>
				{{/if}}
			{{/if}}
		</div>
	</header>
	{{#sub-menu "channel" (hash
		index=(t "routes.channel.menu.details")
		teams=(t "routes.channel.menu.teams")
		settings=(t "routes.channel.menu.settings")
	) as |subroute name|}}
		{{#link-to (concat "channel." subroute) model tagName="li"}}{{name}}{{/link-to}}
	{{/sub-menu}}
	{{outlet}}
</main>