{{#if withFlag}}
	{{#if stream.hasBroadcasterLanguage}}
		<span class="stats-row-item-flag">{{flag-icon type="broadcaster" lang=stream.channel.broadcaster_language}}</span>
	{{/if}}
{{/if}}
<span title="{{stream.titleStartedAt}}"><i class="fa fa-clock-o"></i>{{hours-from-now stream.started_at interval=60000}}</span>
<span title="{{stream.titleViewers}}"><i class="fa fa-users"></i>{{format-viewers stream.viewer_count}}</span>