<div
	class="drop-down-component-selection {{buttonClass}}"
    {{action "toggle" bubbles=false}}
>{{#if _selection}}{{get _selection optionLabelPath}}{{else}}{{placeholder}}{{/if}}</div>
<ul class="drop-down-component-list">
	{{~#if hasBlock~}}
		{{~#each content as |item|~}}
			{{~yield (hash
				label=(get item optionLabelPath)
				value=(get item optionValuePath)
				selected=(is-equal value (get item optionValuePath))
				action=(action "change" item)
			)~}}
		{{~/each~}}
	{{~else~}}
		{{~#each content as |item|~}}
			<li
				class="{{if (is-equal value (get item optionValuePath)) 'selected'}}"
				{{action "change" item bubbles=false}}
			>{{get item optionLabelPath}}</li>
		{{~/each~}}
	{{~/if~}}
</ul>