<fieldset>
{{#settings-row
	(t "settings.gui.integration.title")
	(t "settings.gui.integration.description")
	icon="fa-puzzle-piece"
}}
	{{#radio-buttons
		value=model.gui.integration
		content=contentGuiIntegration
		as |item|
	}}
		<div>
			{{item.button (t (concat "settings.gui.integration.values." item.label))}}
		</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	(t "settings.gui.minimize.title")
	(t "settings.gui.minimize.description")
	icon="fa-minus"
}}
	{{#radio-buttons
		name="settings-gui-minimize"
		value=model.gui.minimize
		content=contentGuiMinimize
		as |item|
	}}
		<div>
			{{item.button (t (concat "settings.gui.minimize.values." item.label))}}
		</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#if model.advanced}}
	{{#settings-row
		(t "settings.gui.hidebuttons.title")
		(t "settings.gui.hidebuttons.description")
		icon="fa-square"
	}}
		{{check-box
			(t "settings.gui.hidebuttons.checkbox")
			checked=model.gui.hidebuttons
		}}
	{{/settings-row}}
{{/if}}

{{#settings-row
	(t "settings.gui.minimizetotray.title")
	(t "settings.gui.minimizetotray.description")
	icon="fa-minus-square"
}}
	{{check-box
		(t "settings.gui.minimizetotray.checkbox")
		checked=model.gui.minimizetotray
		disabled=(bool-or
			(bool-not hasBothIntegrations)
			model.gui.hidebuttons
		)
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.gui.badgelabel.title")
	(t "settings.gui.badgelabel.description")
	icon="fa-tag"
	notes=(t "settings.gui.badgelabel.notes")
	requires=(t "settings.gui.badgelabel.requires")
}}
	{{check-box
		(t "settings.gui.badgelabel.checkbox")
		checked=model.notification.badgelabel
		disabled=(bool-or
			(bool-not (bool-or hasTaskBarIntegration hasBothIntegrations))
			(bool-not model.notification.enabled)
		)
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.gui.focusrefresh.title")
	(t "settings.gui.focusrefresh.description")
	icon="fa-refresh"
}}
	{{#drop-down
		value=model.gui.focusrefresh
		content=contentGuiFocusrefresh
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "settings.gui.focusrefresh.values." selection.label)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "settings.gui.focusrefresh.values." item.label)}}
		{{/dropdown.list}}
	{{/drop-down}}
{{/settings-row}}
</fieldset>