<main class="content content-user content-user-auth">
<div class="bigicon"><i class="fa fa-user"></i></div>
{{#if isLoggingIn}}
{{#form-button
	action=(action "abort")
	classNames="btn-danger"
	icon="fa-times"
}}
	{{t "routes.user.auth.abort"}}
{{/form-button}}
{{else}}
{{#form-button
	action=(action "signin")
	classNames="btn-signin"
	icon="fa-sign-in"
	disabled=hasUserInteraction
}}
	{{t "routes.user.auth.sign-in"}}
{{/form-button}}
{{/if}}
<footer>
{{#if settings.advanced}}
{{#if isTokenFormVisible}}
<div class="input-group token-form">
{{input
	type="text"
	class="form-control"
	value=token
	placeholder=(t "routes.user.auth.token.placeholder")
	autofocus=true
}}
<span class="input-group-btn">
{{form-button
	action=(action "signinToken")
	classNames="btn"
	class=(get-param "btn-primary" "btn-info" "btn-danger" "btn-success" index=userStatus)
	icon=(get-param  "fa-sign-in"  " "        "fa-times"   "fa-check"    index=userStatus)
	iconanim=true
	spinner=true
}}
</span>
</div>
{{#unless hasLoginResult}}
<p class="hint">{{t "routes.user.auth.token.hint.first"}}<br>{{t "routes.user.auth.token.hint.second"}}<br><em>{{scope}}</em></p>
{{/unless}}
{{else}}
{{#form-button
	action=(action "showTokenForm")
	classNames="btn-token"
	icon="fa-key"
	disabled=hasUserInteraction
}}
	{{t "routes.user.auth.token.show-form"}}
{{/form-button}}
{{/if}}
{{/if}}
{{#if isFailMessageVisible}}
<p class="fail">{{t "routes.user.auth.fail"}}</p>
{{/if}}
</footer>
</main>