{{#link-to "team" content.id tagName="div" class="logo"}}
{{preview-image src=content.logo title=content.title}}
{{/link-to}}
<div class="info">
<header><i class="fa fa-fw fa-users"></i> {{#link-to "team" content.id}}{{content.title}}{{/link-to}}</header>
<div class="stats"><span title="{{t "components.team-item.created-at.title"}}"><i class="fa fa-fw fa-calendar"></i> {{format-time content.created_at (t "components.team-item.created-at.format")}}</span></div>
<div class="stats"><span title="{{t "components.team-item.updated-at.title"}}"><i class="fa fa-fw fa-pencil"></i> {{format-time content.updated_at (t "components.team-item.updated-at.format")}}</span></div>
</div>