<main class="content content-communities-community">
<header>
<h2>{{#if model.language}}{{flag-icon lang=model.language}}{{/if}}{{model.name}}</h2>
{{headline-totals model.streams.meta.total}}
{{#quick-bar}}
	{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#sub-menu menus=(hash
	index=(t "routes.community.menu.streams")
	info=(t "routes.community.menu.info")
) as |subroute name|}}
	{{#link-to (concat "communities.community." subroute) tagName="li"}}{{name}}{{/link-to}}
{{/sub-menu}}
{{outlet}}
</main>