<section class="content-communities-community-info">
{{preview-image src=model.avatar_image_url title=channel.display_name classNames="logo"}}
{{#selectable-text classNames="text"}}
<h3>Created by</h3>
{{#link-to "channel" model.owner.id}}{{model.owner.display_name}}{{/link-to}}
<h3>Summary</h3>
{{embedded-links text=model.summary classNames="user-content"}}
<h3>Description</h3>
{{#embedded-html-links classNames="user-content"}}{{{model.description}}}{{/embedded-html-links}}
<h3>Rules</h3>
{{#embedded-html-links classNames="user-content"}}{{{model.rules}}}{{/embedded-html-links}}
{{/selectable-text}}
</section>