<fieldset>
{{#settings-row
	(t "settings.languages.filter.title")
	(t "settings.languages.filter.description")
	icon="fa-filter"
}}
	{{check-box
		checked=model.streams.languages_fade
		label=(t "settings.languages.filter.values.fade.text")
		description=(t "settings.languages.filter.values.fade.description" htmlSafe=true)
		disabled=(bool-or
			(bool-not hasAnySelection)
			(bool-and model.streams.languages_filter hasSingleSelection)
		)
	}}
	{{check-box
		checked=model.streams.languages_filter
		label=(t "settings.languages.filter.values.filter.text")
		description=(t "settings.languages.filter.values.filter.description" htmlSafe=true)
		disabled=(bool-not hasSingleSelection)
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.languages.languages.title")
	(t "settings.languages.languages.description")
	icon="fa-language"
}}
	<ul class="list-unstyled filter-lang">
		{{#each languages as |id|}}
			<li>
				{{#check-box checked=(mut (get model.streams.languages id))}}
					{{flag-icon lang=id withTitle=false withCursor=false}} {{t (concat "languages." id)}}<span class="lang-code">({{id}})</span>
				{{/check-box}}
			</li>
		{{/each}}
	</ul>
	<div><a href="#" data-action-uncheck-all {{action "uncheckAll"}}>{{t "settings.languages.languages.uncheck-all"}}</a></div>
{{/settings-row}}
</fieldset>