<fieldset>
{{#settings-row
	(t "settings.languages.filter.title")
	(t "settings.languages.filter.description")
	icon="fa-filter"
}}
	{{#radio-buttons
		value=model.streams.languages_filter
		content=contentLanguagesFilter
		as |item|
	}}
		{{item.button
			label=(t (concat "settings.languages.filter.values." item.label ".text"))
			description=(t (concat "settings.languages.filter.values." item.label ".description"))
			disabled=(bool-not hasAnySelection)
		}}
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	(t "settings.languages.languages.title")
	(t "settings.languages.languages.description")
	icon="fa-language"
}}
	<ul class="list-unstyled filter-lang">
		{{#each languages as |lang|}}
			<li>
				{{#check-box checked=(mut (get model.streams.languages lang.code))}}
					{{flag-icon lang=lang.code withTitle=false withCursor=false}} {{t (concat "languages." lang.code)}}<span class="lang-code">({{lang.name}})</span>
				{{/check-box}}
			</li>
		{{/each}}
	</ul>
	<div><a href="#" data-action-uncheck-all {{action "uncheckAll"}}>{{t "settings.languages.languages.uncheck-all"}}</a></div>
{{/settings-row}}
</fieldset>