<nav>
	<h3>{{t "components.main-menu.browse.header"}}</h3>
	<ul>
		<li>{{#link-to "featured"}}{{t "components.main-menu.browse.featured"}}{{/link-to}}</li>
		<li>{{#link-to "games"}}{{t "components.main-menu.browse.games"}}{{/link-to}}</li>
		<li>{{#link-to "communities"}}{{t "components.main-menu.browse.communities"}}{{/link-to}}</li>
		<li>{{#link-to "streams"}}{{t "components.main-menu.browse.streams"}}{{/link-to}}</li>
	</ul>
	<h3>{{t "components.main-menu.my.header"}}</h3>
	<ul>
		<li>{{#link-to "user.subscriptions"}}{{t "components.main-menu.my.subscriptions"}}{{/link-to}}</li>
		<li>{{#link-to "user.followedStreams"}}{{t "components.main-menu.my.live-streams"}}{{/link-to}}</li>
		<li>{{#link-to "user.hostedStreams"}}{{t "components.main-menu.my.hosted-streams"}}{{/link-to}}</li>
		<li>{{#link-to "user.followedChannels"}}{{t "components.main-menu.my.channels"}}{{/link-to}}</li>
		<li>{{#link-to "user.followedGames"}}{{t "components.main-menu.my.games"}}{{/link-to}}</li>
	</ul>
	<h3>{{t "components.main-menu.misc.header"}}</h3>
	<ul>
		<li>{{#link-to "settings"}}{{t "components.main-menu.misc.settings"}}{{/link-to}}</li>
		<li>{{#link-to "about"}}{{t "components.main-menu.misc.about"}}{{/link-to}}</li>
	</ul>
</nav>