<header>
{{#if stream.channel.has_language}}{{flag-icon type="channel" lang=stream.channel.language}}{{/if}}
<span class="{{unless stream.channel.has_language 'noL'}} {{unless stream.channel.has_broadcaster_language 'noBL'}}">{{#link-to "channels.channel" stream.channel.id}}{{stream.channel.display_name}}{{/link-to}}</span>
{{#if stream.channel.has_broadcaster_language}}{{flag-icon type="broadcaster" lang=stream.channel.broadcaster_language}}{{/if}}
</header>
<section class="preview" {{action "startStream"}} title="{{stream.channel.status}}">
<img class="previewImage" src="{{stream.preview.medium_nocache}}">
{{#if _showGame}}
<footer><i class="fa fa-gamepad"></i>{{#link-to "games.game" stream.channel.game title=stream.channel.game}}{{stream.channel.game}}{{/link-to}}</footer>
{{/if}}
</section>
<footer>
<span title="{{stream.title_created_at}}"><i class="fa fa-clock-o"></i> {{hours-from-now stream.created_at}}</span>
<span title="{{stream.title_viewers}}">{{format-viewers stream.viewers}} <i class="fa fa-users"></i></span>
</footer>