<header>
{{#if channel.has_language}}{{flag-icon type="channel" lang=channel.language}}{{/if}}
<span class="{{unless channel.has_language 'noL'}} {{unless channel.has_broadcaster_language 'noBL'}}">{{#link-to "channel" channel.id}}{{channel.display_name}}{{/link-to}}</span>
{{#if channel.has_broadcaster_language}}{{flag-icon type="broadcaster" lang=channel.broadcaster_language}}{{/if}}
</header>
<section class="preview" {{action "startStream"}} title="{{channel.status}}">
{{preview-image src=content.preview.medium_nocache}}
{{#if _showGame}}
<footer><i class="fa fa-gamepad"></i>{{#link-to "games.game" channel.game title=channel.game}}{{channel.game}}{{/link-to}}</footer>
{{/if}}
</section>
<footer>
<span title="{{content.title_created_at}}"><i class="fa fa-clock-o"></i> {{hours-from-now content.created_at}}</span>
<span title="{{content.title_viewers}}">{{format-viewers content.viewers}} <i class="fa fa-users"></i></span>
</footer>