<main class="content content-team">
<header>
{{preview-image src=content.logo title=model.display_name classNames="logo"}}
<div class="info">
<h3 class="title">{{model.title}}</h3>
<div class="stats"><i class="fa fa-fw fa-users"></i> Team members: {{model.users.length}}</div>
<div class="stats"><i class="fa fa-fw fa-calendar"></i> Date created: {{format-time model.created_at "llll"}}</div>
<div class="stats"><i class="fa fa-fw fa-pencil"></i> Modified last: {{format-time model.updated_at "llll"}}</div>
</div>
</header>
{{#sub-menu "team" (hash
	index="Live Members"
	members="All Members"
	info=(if model.info "Team Infos" false)
) as |subroute name|}}
	{{#if name}}
		{{#link-to (concat "team." subroute) model tagName="li"}}{{name}}{{/link-to}}
	{{/if}}
{{/sub-menu}}
{{outlet}}
</main>