<div>
	{{#modal-header}}
		{{t "modal.quit.header"}}
	{{/modal-header}}
	{{#modal-body}}
		{{#if hasStreams}}
			{{t "modal.quit.body.streams"}}
		{{else}}
			{{t "modal.quit.body.no-streams"}}
		{{/if}}
	{{/modal-body}}
	{{#modal-footer classNames="button-list-horizontal"}}
		{{#form-button
			action=(action "close")
			classNames="btn-primary"
			icon="fa-thumbs-down"
		}}
			{{t "modal.quit.action.close"}}
		{{/form-button}}
		{{#if hasStreams}}
			{{#form-button
				action=(action "shutdown")
				classNames="btn-danger"
				icon="fa-power-off"
			}}
				{{t "modal.quit.action.shutdown"}}
			{{/form-button}}
		{{/if}}
		{{#form-button
			action=(action "quit")
			classNames="btn-success"
			icon="fa-thumbs-up"
		}}
			{{t "modal.quit.action.quit"}}
		{{/form-button}}
	{{/modal-footer}}
</div>