<main class="content content-games">
<header>
<h2>Top Games</h2>
{{headline-totals total=metadata.total}}
{{#quick-bar}}
{{quick-bar-random-stream}}
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#content-list content=model as |item isNewItem isDuplicateItem|}}
{{game-item content=item isNewItem=isNewItem isDuplicateItem=isDuplicateItem}}
{{else}}
<p>The returned list of top games is empty.</p>
{{/content-list}}
</main>