<main class="content content-gamesgame">
<header>
<h2>{{follow-game game=game}}{{game}}</h2>
{{#if metadata.total}}<div class="total">({{metadata.total}})</div>{{/if}}
{{#quick-bar}}
{{quick-bar-homepage}}
{{/quick-bar}}
</header>
{{#if model.length}}
<ul class="content-list">
{{#each model as |stream index|}}
{{stream-item content=stream isNewItem=(is-gte index initialFetchSize)}}
{{/each}}
</ul>
{{infinite-scroll}}
{{else}}
<p>The returned list of streams of this game is empty.</p>
{{/if}}
</main>