<header>
<h2>
{{#if auth.session.isLoggedIn}}
{{form-button action=view.followAction class=view.followClass icon=view.followIcon iconanim=true title=view.followTitle}}
{{/if}}
{{game}}</h2>
{{settings-bar targetObject=this btnHomepage=true}}
</header>
<ul class="content-list">
{{#each model as |stream index|}}
{{stream-item content=stream isNewItem=(is-gte index initialFetchSize)}}
{{/each}}
</ul>
{{infinite-scroll}}