{{#if (is-null modalBtns)}}
{{#form-button action="shutdown" class="btn-danger"  icon="fa-times"}}Close{{/form-button}}
{{else if (is-equal modalBtns "download")}}
{{#form-button action="close"    class="btn-danger"  icon="fa-times"                 }}Close{{/form-button}}
{{#form-button action="download" class="btn-success" icon="fa-download" iconanim=true}}Download{{/form-button}}
{{else if (is-equal modalBtns "running")}}
<div>
{{form-button action="close"    class="btn-primary" icon="fa-arrow-left" title="Continue"}}
{{form-button action="shutdown" class="btn-danger"  icon="fa-times"      title="Close stream"}}
</div>
<div>
{{form-button action="chat"  actionParam=active.channel class="btn-hint" icon="fa-comments"  iconanim=true title="Open chat"}}
{{form-button action="share" actionParam=active.channel class="btn-info" icon="fa-share-alt" iconanim=true title="Copy stream url to clipboard"}}
{{#if active.channel.partner}}
{{form-button action="subscribe" actionParam=active.channel class=view.subscrClass icon="fa-credit-card" iconanim=true title="Subscribe to channel"}}
{{/if}}
{{#if auth.isLoggedIn}}
{{form-button action=view.followAction actionParam=active.channel class=view.followClass icon=view.followIcon iconanim=true title=view.followTitle}}
{{/if}}
</div>
{{view "select" value=active.quality content=settings.constructor.qualities class="modalqualityselect" optionValuePath="content.id" optionLabelPath="content.label"}}
{{/if}}