{{#if (is-null modalBtns)}}
{{#form-button action="shutdown" class="btn-danger"  icon="fa-times"}}Close{{/form-button}}
{{else if (is-equal modalBtns "download")}}
{{#form-button action="close"    class="btn-danger"  icon="fa-times"                 }}Close{{/form-button}}
{{#form-button action="download" class="btn-success" icon="fa-download" iconanim=true}}Download{{/form-button}}
{{else if (is-equal modalBtns "running")}}
<div>
{{form-button action="close"    class="btn-primary" icon="fa-arrow-left" title="Continue"}}
{{form-button action="shutdown" class="btn-danger"  icon="fa-times"      title="Close stream"}}
</div>
<div>
{{open-chat channel=active.channel}}
{{share-channel channel=active.channel}}
{{subscribe-channel channel=active.channel}}
{{follow-channel channel=active.channel}}
</div>
{{view "select" value=active.quality content=settings.content.constructor.qualities class="modalqualityselect" optionValuePath="content.id" optionLabelPath="content.label"}}
{{/if}}