<fieldset>
{{#settings-row
	(t "settings.streams.quality.title")
	(t "settings.streams.quality.description")
	icon="fa-eye"
}}
	{{#drop-down
		value=model.streaming.quality
		content=contentStreamingQuality
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "qualities." selection.value)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "qualities." item.value)}}
		{{/dropdown.list}}
	{{/drop-down}}
{{/settings-row}}

{{#if model.advanced}}
	{{#settings-row
		(t "settings.streams.qualitypresets.title")
		(t "settings.streams.qualitypresets.description")
		icon="fa-list-ul"
		notes=(t "settings.streams.qualitypresets.notes")
		documentation="--stream-sorting-excludes"
	}}
		{{#each contentStreamingQuality as |quality|}}
			<div class="quality-preset">
				{{input
					type="text"
					value=(mut (get (get model.streaming.qualities quality.id) "exclude"))
					placeholder=(if (is-null quality.exclude) (t "settings.streams.qualitypresets.dont-exclude") quality.exclude)
					disabled=(is-null quality.exclude)
				}}
				{{input
					type="text"
					value=(mut (get (get model.streaming.qualities quality.id) "quality"))
					placeholder=quality.quality
				}}
				<button type="button" tabindex="-1" class="btn">{{t (concat "qualities." quality.id)}}</button>
			</div>
		{{/each}}
	{{/settings-row}}
{{/if}}
</fieldset>

<fieldset>
{{#settings-row
	(t "settings.streams.modal-close-launch.title")
	(t "settings.streams.modal-close-launch.description")
	icon="fa-info-circle"
}}
	{{check-box
		(t "settings.streams.modal-close-launch.checkbox")
		checked=model.streams.modal_close_launch
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.streams.modal-close-end.title")
	(t "settings.streams.modal-close-end.description")
	icon="fa-info-circle"
}}
	{{check-box
		(t "settings.streams.modal-close-end.checkbox")
		checked=model.streams.modal_close_end
	}}
{{/settings-row}}
</fieldset>

<fieldset>
{{#settings-row
	(t "settings.streams.channelname.title")
	(t "settings.streams.channelname.description")
	icon="fa-language"
}}
	{{#drop-down
		value=model.streams.name
		content=contentStreamsName
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "settings.streams.channelname.values." selection.label)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "settings.streams.channelname.values." item.label)}}
		{{/dropdown.list}}
	{{/drop-down}}
{{/settings-row}}

{{#settings-row
	(t "settings.streams.show-flag.title")
	(t "settings.streams.show-flag.description")
	icon="fa-flag"
}}
	{{check-box
		(t "settings.streams.show-flag.checkbox")
		checked=model.streams.show_flag
	}}
{{/settings-row}}
</fieldset>

<fieldset>
{{#settings-row
	(t "settings.streams.filter-vodcast.title")
	(t "settings.streams.filter-vodcast.description")
	icon="fa-recycle"
}}
	{{check-box
		(t "settings.streams.filter-vodcast.checkbox")
		checked=model.streams.filter_vodcast
	}}
{{/settings-row}}

{{#if model.advanced}}
	{{#settings-row
		(t "settings.streams.vodcast-regexp.title")
		(t "settings.streams.vodcast-regexp.description")
		icon="fa-search"
		notes=(t "settings.streams.vodcast-regexp.notes")
	}}
		{{input
			type="text"
			value=model.streams.vodcast_regexp
			placeholder=DEFAULT_VODCAST_REGEXP
			class="col-xs-12"
		}}
	{{/settings-row}}
{{/if}}
</fieldset>

<fieldset>
{{#settings-row
	(t "settings.streams.show-info.title")
	(t "settings.streams.show-info.description")
	icon="fa-info"
}}
	{{check-box
		(t "settings.streams.show-info.checkbox")
		checked=model.streams.show_info
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.streams.info.title")
	(t "settings.streams.info.description")
	icon="fa-info"
}}
	{{#radio-buttons
		value=model.streams.info
		content=contentStreamsInfo
		as |item|
	}}
		<div>
			{{item.button label=(t (concat "settings.streams.info.values." item.label))}}
		</div>
	{{/radio-buttons}}
{{/settings-row}}
</fieldset>

<fieldset>
{{#settings-row
	(t "settings.streams.click.title")
	(t "settings.streams.click.description")
	icon="fa-hand-pointer-o"
}}
	<p>{{unless isDarwin (t "settings.streams.click.ctrl") (t "settings.streams.click.cmd")}}</p>
	{{#drop-down
		value=model.streams.click_modify
		content=contentStreamsClick
		class="stream-click"
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "settings.streams.click.values." selection.label)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "settings.streams.click.values." item.label)}}
		{{/dropdown.list}}
	{{/drop-down}}
	<p>{{t "settings.streams.click.middle"}}</p>
	{{#drop-down
		value=model.streams.click_middle
		content=contentStreamsClick
		class="stream-click"
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "settings.streams.click.values." selection.label)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "settings.streams.click.values." item.label)}}
		{{/dropdown.list}}
	{{/drop-down}}
{{/settings-row}}
</fieldset>