{{#if content.length}}
<ul class="content-list {{class}}">
{{#each content as |item index|}}
{{yield item (is-gte index initial) (has-own-property duplicates index)}}
{{/each}}
</ul>
{{infinite-scroll targetObject=targetObject}}
{{else if (hasBlock "inverse")}}
<div class="content-empty">
{{yield to="inverse"}}
</div>
{{/if}}