{{#unless content.isFulfilled}}
{{loading-spinner}}
{{else}}
{{#link-to "channel" content.id tagName="div" class="logo"}}
{{preview-image src=content.logo title=content.display_name}}
{{/link-to}}
<div class="text">
<header>
{{#if content.has_language}}{{flag-icon type="channel" lang=content.language}}{{/if}}
<span>{{#link-to "channel" content.id}}{{content.display_name}}{{/link-to}}</span>
</header>
{{#unless dialog}}
<div>
<p><i class="fa fa-fw fa-cog"></i> {{#link-to "channel.settings" content.id}}Settings{{/link-to}}</p>
<p><i class="fa fa-fw fa-eraser"></i> <a href="#" {{action "eraseDialog"}}>Unset</a></p>
</div>
{{else}}
<div class="erase">
<p>Unset custom settings?</p>
<div class="btns">
{{#form-button action=(action "confirm") class="btn-success"}}Yes{{/form-button}}
{{#form-button action=(action "decline") class="btn-danger"}}No{{/form-button}}
</div>
</div>
{{/unless}}
</div>
{{/unless}}