<header>
{{#if channel.has_language}}{{flag-icon type="channel" lang=channel.language}}{{/if}}
<span class="{{unless channel.has_language 'noL'}} {{unless channel.has_broadcaster_language 'noBL'}}">{{#link-to "channel" channel.id}}{{channel.display_name}}{{/link-to}}</span>
{{#if channel.has_broadcaster_language}}{{flag-icon type="broadcaster" lang=channel.broadcaster_language}}{{/if}}
</header>
{{#stream-preview-image
	src=content.preview.medium
	stream=content
	clickable=(bool-not expanded)
	tagName="section"
	class=(if expanded "expanded")
	title=(unless expanded (if channel.status channel.status "") "")
	action=(action "collapse")}}
<footer class="{{if _showGame 'shaded'}} {{if expanded 'expanded'}} {{if locked 'locked'}}">
{{#if _showGame}}
<div class="bottom">
<i class="fa fa-gamepad"></i>{{#link-to "games.game" channel.game title=channel.game}}{{channel.game}}{{/link-to}}
</div>
{{/if}}
<div class="details">
<div>
{{#if content.hasFormatInfo}}
<div class="stats">
<div class="resolution"><i class="fa fa-film"></i> {{content.resolution}}</div>
<div class="fps">{{content.fps}} fps <i class="fa fa-eye"></i></div>
</div>
{{/if}}
<div class="status">
{{embedded-links text=channel.status}}
</div>
</div>
</div>
</footer>
<div class="btn-expand" title="{{unless expanded 'Show stream details' (if locked 'Unlock details view' 'Lock details view')}}" {{action "expand" bubbles=false}}>
<i class="fa {{unless expanded 'fa-chevron-up' (if locked 'fa-lock' 'fa-unlock-alt')}}"></i>
</div>
{{/stream-preview-image}}
<footer>
<span title="{{content.title_created_at}}"><i class="fa fa-clock-o"></i> {{hours-from-now content.created_at interval=60000}}</span>
<span title="{{content.title_viewers}}">{{format-viewers content.viewers}} <i class="fa fa-users"></i></span>
</footer>