<header>
{{#link-to "channel" channel.id tagName="div" class="logo"}}
{{preview-image src=channel.logo title=channel.display_name}}
{{/link-to}}
<div class="buttons">
{{form-button action=(action "cancel") classNames="btn-danger" icon="fa-times"  iconanim=true title="Cancel subscription"}}
{{form-button action=(action "edit")   classNames="btn-hint"   icon="fa-pencil" iconanim=true title="Edit subscription"}}
</div>
</header>
<div class="info">
<h3>{{#link-to "channel" channel.id}}{{channel.detailedName}}{{/link-to}}</h3>
<div class="subscription">
{{#if content.access_end}}
<span title="{{format-time content.access_end "LLLL"}}">
<i class="fa fa-credit-card"></i> {{#if hasEnded}}Has ended{{else if content.purchase_profile.will_renew}}Will be renewed{{else}}Will end{{/if}} {{ends}}
</span>
{{else}}
<span><i class="fa fa-credit-card"></i> You are subscribed</span>
{{/if}}
<span title="Directly supports the channel">
<i class="fa fa-money"></i> {{product.price}} / {{product.period}}
</span>
<span title="Since {{format-time channel.subscribed.created_at "LLLL"}}">
<i class="fa fa-calendar"></i> Subscribed for {{subbedFor}} {{#if (is-equal subbedFor 1)}}month{{else}}months{{/if}}
</span>
</div>
<ul class="list-unstyled emoticons">
{{#each emoticons as |emoticon|}}
<li><img title={{emoticon.id}} src={{emoticon.url}}></li>
{{else}}
<li class="no-emoticons">This channel doesn't have any emoticons (yet)</li>
{{/each}}
</ul>
</div>