<fieldset>
{{#settings-row
	(t "settings.notifications.enabled.title")
	(t "settings.notifications.enabled.description")
	icon="fa-bullhorn"
}}
	{{check-box
		(t "settings.notifications.enabled.checkbox")
		checked=model.notification.enabled
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.notifications.provider.title")
	(t "settings.notifications.provider.description")
	icon="fa-cog"
}}
	{{#form-button
		action=(action "testNotification")
		classNames="btn-test-notification"
		icon="fa-rocket"
		iconanim=true
		disabled=(bool-not model.notification.enabled)
	~}}
		{{t "settings.notifications.provider.test.button"}}
	{{~/form-button}}
	{{#radio-buttons
		value=model.notification.provider
		content=contentNotificationProviders
		as |item|
	}}
		<div class="input-btn-with-description">
			{{item.button
				(t (concat "settings.notifications.provider.providers." item.value ".name"))
				disabled=(bool-not model.notification.enabled)
			}}
			<p class="description">
				<i class="fa fa-question-circle" title={{t (concat "settings.notifications.provider.providers." item.value ".notes")}}></i>
				{{t (concat "settings.notifications.provider.providers." item.value ".description")}}
			</p>
		</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	(t "settings.notifications.filter.title")
	(t "settings.notifications.filter.description")
	icon="fa-eyedropper"
}}
	{{#radio-buttons
		value=model.notification.filter
		content=contentNotificationFilter
		as |item|
	}}
		<div>
			{{item.button
				(t (concat "settings.notifications.filter.values." item.label))
				disabled=(bool-not model.notification.enabled)
			}}
		</div>
	{{/radio-buttons}}
{{/settings-row}}

{{#settings-row
	(t "settings.notifications.filter-vodcasts.title")
	(t "settings.notifications.filter-vodcasts.description")
	icon="fa-recycle"
}}
	{{check-box
		(t "settings.notifications.filter-vodcasts.checkbox")
		checked=model.notification.filter_vodcasts
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.notifications.grouping.title")
	(t "settings.notifications.grouping.description")
	icon="fa-folder-open-o"
}}
	{{check-box
		(t "settings.notifications.grouping.checkbox")
		checked=model.notification.grouping
		disabled=(bool-not model.notification.enabled)
	}}
{{/settings-row}}

{{#settings-row
	(t "settings.notifications.click.title")
	(t "settings.notifications.click.description")
	icon="fa-hand-pointer-o"
}}
	{{#drop-down
		value=model.notification.click
		content=contentNotificationClick
		disabled=(bool-not model.notification.enabled)
		class="notifications"
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "settings.notifications.click.values." selection.label)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "settings.notifications.click.values." item.label)}}
		{{/dropdown.list}}
	{{/drop-down}}
{{/settings-row}}

{{#settings-row
	(t "settings.notifications.click-group.title")
	(t "settings.notifications.click-group.description")
	icon="fa-hand-pointer-o"
}}
	{{#drop-down
		value=model.notification.click_group
		content=contentNotificationClickGroup
		disabled=(bool-or
			(bool-not model.notification.enabled)
			(bool-not model.notification.grouping)
		)
		class="notifications"
		as |dropdown|
	}}
		{{#dropdown.selection as |selection|}}
			{{t (concat "settings.notifications.click-group.values." selection.label)}}
		{{/dropdown.selection}}
		{{#dropdown.list as |item|}}
			{{t (concat "settings.notifications.click-group.values." item.label)}}
		{{/dropdown.list}}
	{{/drop-down}}
{{/settings-row}}

{{#settings-row
	(t "settings.notifications.click-restore.title")
	(t "settings.notifications.click-restore.description")
	icon="fa-window-restore"
}}
	{{check-box
		(t "settings.notifications.click-restore.checkbox")
		checked=model.notification.click_restore
		disabled=(bool-not model.notification.enabled)
	}}
{{/settings-row}}
</fieldset>