<section class="content-channel-overview">
	<div class="big-image {{if stream 'online'}}">
		{{stream-preview-image
			stream=stream
			user=user
			clickable=stream
			src=(if stream
				stream.thumbnail_url.latest
				user.offline_image_url
			)
			contextmenuNoGotos=true
		}}
	</div>
	<div class="info">
		<h3>{{t "routes.channel.details.header"}}</h3>
		<dl class="dl-horizontal">
			{{#if user.hasCustomDisplayName}}
				<dt><i class="fa fa-user"></i>{{t "routes.channel.details.name.title"}}</dt>
				<dd>{{user.login}}</dd>
			{{/if}}
			<dt><i class="fa fa-calendar"></i>{{t "routes.channel.details.created-at.title"}}</dt>
			<dd>{{t "routes.channel.details.created-at.format" created_at=user.created_at}}</dd>
			{{#if channel.broadcaster_language}}
				<dt><i class="fa fa-language"></i>{{t "routes.channel.details.language.title"}}</dt>
				<dd>{{flag-icon type="broadcaster" lang=channel.broadcaster_language}} {{language}}</dd>
			{{/if}}
			<dt><i class="fa fa-male"></i>{{t "routes.channel.details.content.title"}}</dt>
			<dd>{{t (concat "routes.channel.details.content." (if user.is_mature "mature" "ffa"))}}</dd>
			<dt><i class="fa fa-history"></i>{{t "routes.channel.details.delay.title"}}</dt>
			<dd>{{t "routes.channel.details.delay.data" count=channel.delay}}</dd>
			{{#if stream.isVodcast}}
				<dt><i class="fa fa-recycle"></i>{{t "routes.channel.details.vodcast.title"}}</dt>
				<dd>{{t "routes.channel.details.vodcast.data"}}</dd>
			{{/if}}
		</dl>
		<div class="button-list-horizontal">
			{{open-chat user=user}}
			{{twitch-emotes user=user showButton=true}}
			{{share-channel user=user}}
			{{channel-button user=user}}
		</div>
	</div>
</section>