<section class="content-communities-community-info">
{{preview-image src=model.avatar_image_url title=channel.display_name classNames="logo"}}
{{#selectable-text classNames="text"}}
<h3>{{t "routes.community.info.created-by"}}</h3>
{{#link-to "channel" model.owner.id}}{{model.owner.display_name}}{{/link-to}}
<h3>{{t "routes.community.info.summary"}}</h3>
{{embedded-links text=model.summary classNames="user-content"}}
<h3>{{t "routes.community.info.description"}}</h3>
{{#embedded-html-links classNames="user-content"}}{{{model.description}}}{{/embedded-html-links}}
<h3>{{t "routes.community.info.rules"}}</h3>
{{#embedded-html-links classNames="user-content"}}{{{model.rules}}}{{/embedded-html-links}}
{{/selectable-text}}
</section>