<div>
	{{#unless error}}
		{{#if active.isPreparing}}
			{{#modal-header}}Preparing, please wait{{/modal-header}}
			{{#modal-body class="loading"}}{{loading-spinner}}{{/modal-body}}
			{{#modal-footer}}
				{{#form-button action=(action "abort") classNames="btn-danger" icon="fa-times"}}Abort{{/form-button}}
			{{/modal-footer}}
		{{else if active.hasEnded}}
			{{#modal-header}}
				Stream ended: {{#link-to "channel" active.channel.id}}{{active.channel.detailedName}}{{/link-to}}
			{{/modal-header}}
			{{#modal-body}}
				Do you want to restart the stream now?
			{{/modal-body}}
		{{else}}
			{{#if active.isLaunching}}
				{{#modal-header}}
					Launching: {{#link-to "channel" active.channel.id}}{{active.channel.detailedName}}{{/link-to}}
				{{/modal-header}}
				{{#modal-body class="launching"}}Waiting for {{providername}} to launch the stream...{{/modal-body}}
				{{modal-log class="launching" log=active.log}}
			{{else if active.isWatching}}
				{{#modal-header}}
					Watching: {{#link-to "channel" active.channel.id}}{{active.channel.detailedName}}{{/link-to}}
				{{/modal-header}}
				{{#modal-body}}
					{{#if active.stream.game}}
						<div class="game">
							<i class="fa fa-gamepad"></i> {{#link-to "games.game" active.stream.game}}{{active.stream.game}}{{/link-to}}
						</div>
					{{/if}}
					{{stats-row stream=active.stream withFlag=false}}
					{{#unless active.showLog}}
						{{embedded-links tagName="section" class="content" text=active.channel.status}}
					{{else}}
						{{modal-log log=active.log}}
					{{/unless}}
				{{/modal-body}}
			{{/if}}
			{{#modal-footer}}
				<div class="button-list-horizontal-wide">
					{{form-button
						action=(action "close")
						classNames="btn-primary"
						icon="fa-arrow-left"
						title="[Esc] Continue"
					}}
					{{form-button
						action=(action "shutdown")
						classNames="btn-danger"
						icon="fa-times"
						title="[Q] Close stream"
					}}
					{{form-button
						action=(action "toggleLog")
						classNameBindings=":btn-log active.warning:btn-danger:btn-info active.isWatching::invisible"
						icon=(if active.warning "fa-exclamation" "fa-ellipsis-v")
						title=(concat "[L] Toggle " providername " log")
					}}
				</div>
				<div class="button-list-horizontal-wide">
					{{open-chat channel=active.channel}}
					{{twitch-emotes channel=active.channel}}
					{{share-channel channel=active.channel}}
					{{subscribe-channel channel=active.channel}}
					{{follow-channel channel=active.channel}}
				</div>
				{{drop-down
					value=active.quality
					content=qualities
					class="stream-quality-dropdown"
				}}
			{{/modal-footer}}
		{{/if}}
	{{else}}
		{{#if isLogError}}
			{{#modal-header}}Error: Couldn't launch the stream{{/modal-header}}
			{{#modal-body class="error"}}{{error.message}}{{/modal-body}}
		{{else if isProviderError}}
			{{#modal-header}}Error: {{providername}} misconfiguration{{/modal-header}}
			{{#modal-body class="error"}}{{#if error.message}}{{error.message}}{{#if error.error.message}}<br>{{error.error.message}}{{/if}}<br><br>{{/if}}Please check your settings and/or (re)install {{providername}}.{{/modal-body}}
		{{else if isPlayerError}}
			{{#modal-header}}Error: Player misconfiguration{{/modal-header}}
			{{#modal-body class="error"}}Please check your player settings.{{/modal-body}}
		{{else if isVersionError}}
			{{#modal-header}}Error: Invalid {{providername}} version{{/modal-header}}
			{{#modal-body class="error"}}
				Your version v{{error.message}} doesn't match the min. requirements (v{{versionMin}}).
			{{/modal-body}}
		{{else if isUnableToOpenError}}
			{{#modal-header}}Error: Unable to open stream{{/modal-header}}
			{{#modal-body class="error"}}{{providername}} was unable to open the stream.{{/modal-body}}
		{{else if isNoStreamsFoundError}}
			{{#modal-header}}Error: No streams found{{/modal-header}}
			{{#modal-body class="error"}}{{providername}} was unable to find the stream.{{/modal-body}}
		{{else if isTimeoutError}}
			{{#modal-header}}Error: Timeout{{/modal-header}}
			{{#modal-body class="error"}}Either {{active.channel.detailedName}} has gone offline, or your connection to Twitch has been interrupted.{{/modal-body}}
		{{else if isHostingError}}
			{{#modal-header}}{{active.channel.detailedName}} is hosting another channel{{/modal-header}}
			{{#modal-body class="error"}}Do you want to switch to {{error.channel}}?{{/modal-body}}
		{{else}}
			{{#modal-header}}Error{{/modal-header}}
			{{#modal-body class="error"}}
				{{#if error.message}}{{error.message}}{{else}}Internal error{{/if}}
			{{/modal-body}}
		{{/if}}
		{{#if active.log.length}}
			{{modal-log class="error" log=active.log}}
		{{/if}}
	{{/unless}}
	{{#if active.hasEnded}}
		{{#modal-footer}}
			<div class="button-list-horizontal-wide">
				{{#form-button
					action=(action "shutdown")
					classNames="btn-danger"
					icon="fa-times"
					title="[Esc] Close"
				}}Close{{/form-button}}
				{{#if (bool-or isNotFoundError isVersionError)}}
					{{#form-button
						action=(action "download")
						classNames="btn-success"
						icon="fa-download"
						iconanim=true
					}}Download{{/form-button}}
				{{else if isHostingError}}
					{{#form-button
						action=(action "startHosted")
						classNames="btn-success"
						icon="fa-step-forward"
						iconanim=true
						title="[Enter] Switch"
					}}Switch{{/form-button}}
				{{else if active.hasEnded}}
					{{#form-button
						action=(action "restart")
						classNames="btn-success"
						icon="fa-play"
						iconanim=true
						title="[Enter] Restart"
					}}Restart{{/form-button}}
				{{/if}}
			</div>
		{{/modal-footer}}
	{{/if}}
</div>