<div>
	{{#unless error}}
		{{#unless active}}
			{{#modal-header}}Preparing, please wait{{/modal-header}}
			{{#modal-body class="loading"}}{{loading-spinner}}{{/modal-body}}
			{{#modal-footer}}
				{{#form-button action=(action "abort") classNames="btn-danger" icon="fa-times"}}Abort{{/form-button}}
			{{/modal-footer}}
		{{else}}
			{{#unless active.success}}
				{{#modal-header}}
					Launching: {{#link-to "channel" active.channel.id}}{{active.channel.detailedName}}{{/link-to}}
				{{/modal-header}}
				{{#modal-body class="launching"}}Waiting for {{providername}} to launch the stream...{{/modal-body}}
				{{modal-log class="launching" log=active.log}}
			{{else}}
				{{#modal-header}}
					Watching: {{#link-to "channel" active.channel.id}}{{active.channel.detailedName}}{{/link-to}}
				{{/modal-header}}
				{{#modal-body}}
					{{#if active.stream.game}}
						<div class="game">
							<i class="fa fa-gamepad"></i> {{#link-to "games.game" active.stream.game}}{{active.stream.game}}{{/link-to}}
						</div>
					{{/if}}
					{{stats-row stream=active.stream withFlag=false}}
					{{#unless active.showLog}}
						{{embedded-links tagName="section" class="content" text=active.channel.status}}
					{{else}}
						{{modal-log log=active.log}}
					{{/unless}}
				{{/modal-body}}
			{{/unless}}
			{{#modal-footer}}
				<div>
					{{form-button action=(action "close")    classNames="btn-primary" icon="fa-arrow-left" title="[Esc] Continue"}}
					{{form-button action=(action "shutdown") classNames="btn-danger"  icon="fa-times"      title="[Q] Close stream"}}
					{{form-button action=(action "toggleLog")
						classNameBindings=":btn-log active.warning:btn-danger:btn-info active.success::invisible"
						icon=(if active.warning "fa-exclamation" "fa-ellipsis-v")
						title=(concat "[L] Toggle " providername " log")
					}}
				</div>
				<div>
					{{open-chat channel=active.channel}}
					{{twitch-emotes channel=active.channel}}
					{{share-channel channel=active.channel}}
					{{subscribe-channel channel=active.channel}}
					{{follow-channel channel=active.channel}}
				</div>
				{{drop-down value=active.quality content=qualities class="modalqualityselect"}}
			{{/modal-footer}}
		{{/unless}}
	{{else}}
		{{#if (is-equal error.name "ErrorLog")}}
			{{#modal-header}}Error: Couldn't launch the stream{{/modal-header}}
			{{#modal-body class="error"}}{{error.message}}{{/modal-body}}
			{{modal-log class="error" log=error.log}}
		{{else if (is-equal error.name "NotFoundError")}}
			{{#modal-header}}Error: {{providername}} misconfiguration{{/modal-header}}
			{{#modal-body class="error"}}{{#if error.message}}{{error.message}}<br><br>{{/if}}Please check your settings and/or (re)install {{providername}}.{{/modal-body}}
		{{else if (is-equal error.name "VersionError")}}
			{{#modal-header}}Error: Invalid {{providername}} version{{/modal-header}}
			{{#modal-body class="error"}}
				Your version v{{error.version}} doesn't match the min. requirements (v{{versionMin}}).
			{{/modal-body}}
		{{else if (is-equal error.name "UnableToOpenError")}}
			{{#modal-header}}Error: Unable to open stream{{/modal-header}}
			{{#modal-body class="error"}}{{providername}} was unable to open the stream.{{/modal-body}}
		{{else if (is-equal error.name "NoStreamsFoundError")}}
			{{#modal-header}}Error: No streams found{{/modal-header}}
			{{#modal-body class="error"}}{{providername}} was unable to find the stream.{{/modal-body}}
		{{else if (is-equal error.name "NoPlayerError")}}
			{{#modal-header}}Error: Invalid player{{/modal-header}}
			{{#modal-body class="error"}}Please check your player configuration.{{/modal-body}}
		{{else}}
			{{#modal-header}}Error: Couldn't launch the stream{{/modal-header}}
			{{#modal-body class="error"}}
				{{#if error.message}}
					{{error.message}}
				{{else}}
					Internal error
				{{/if}}
			{{/modal-body}}
		{{/if}}
		{{#if active}}
			{{modal-log class="error" log=active.log}}
		{{/if}}
		{{#modal-footer}}
			{{#form-button action=(action "close") classNames="btn-danger" icon="fa-times"}}Close{{/form-button}}
			{{#if (bool-or (is-equal error.name "NotFoundError") (is-equal error.name "VersionError"))}}
				{{#form-button action=(action "download") classNames="btn-success" icon="fa-download" iconanim=true}}Download{{/form-button}}
			{{/if}}
		{{/modal-footer}}
	{{/unless}}
</div>