<header>
{{#link-to "channel" channel.id tagName="div" class="logo"}}
{{preview-image src=channel.logo title=channel.display_name}}
{{/link-to}}
<div class="buttons">
{{form-button
	action=(action "cancel")
	classNames="btn-danger"
	icon="fa-times"
	iconanim=true
	title=(t "components.subscription-item.cancel")
}}
{{form-button
	action=(action "edit")
	classNames="btn-hint"
	icon="fa-pencil"
	iconanim=true
	title=(t "components.subscription-item.edit")
}}
</div>
</header>
<div class="info">
<h3>{{#link-to "channel" channel.id}}{{channel.detailedName}}{{/link-to}}</h3>
<div class="subscription">
{{#if content.access_end}}
<span title="{{format-time content.access_end (t "components.subscription-item.access.title")}}"><i class="fa fa-credit-card"></i>
{{#if hasEnded}}
	{{t "components.subscription-item.access.ended"}}
{{else if content.purchase_profile.will_renew}}
	{{t "components.subscription-item.access.renews" time=ends}}
{{else}}
	{{t "components.subscription-item.access.ends" time=ends}}
{{/if}}
</span>
{{else}}
<span><i class="fa fa-credit-card"></i> {{t "components.subscription-item.subscribed"}}</span>
{{/if}}
<span title={{t "components.subscription-item.support"}}>
<i class="fa fa-money"></i> {{product.price}} / {{product.period}}
</span>
<span title={{format-time channel.subscribed.created_at (t "components.subscription-item.since")}}>
<i class="fa fa-calendar"></i> {{t "components.subscription-item.duration" count=subbedFor}}
</span>
</div>
<ul class="list-unstyled emoticons">
{{#each emoticons as |emoticon|}}
<li><img title={{emoticon.id}} src={{emoticon.url}}></li>
{{else}}
<li class="no-emoticons">{{t "components.subscription-item.no-emoticons"}}</li>
{{/each}}
</ul>
</div>